<span ng-if="user.viewopts.voIconAddendum">
        <span class="glyphicons glyphicons-plus"
              tooltip="Addendum"
              tooltip-append-to-body="true"
              tooltip-placement="bottom"
              ng-class="{ clrOn : data.has_addendum, clrOff: !data.has_addendum }"></span>
</span>

<span ng-if="user.viewopts.voIconCross">
        <span class="glyphicons glyphicons-random"
              tooltip="Cross Collateral"
              tooltip-append-to-body="true"
              tooltip-placement="bottom"
              ng-class="{ clrOn : data.is_xcolled, clrOff: !data.is_xcolled }"></span>
</span>

<span ng-if="user.viewopts.voIconBankruptcy">
        <span class="glyphicons glyphicons-fire"
              tooltip="Bankruptcy History"
              tooltip-append-to-body="true"
              tooltip-placement="bottom"
              ng-class="{ clrOn : data.bankruptcy_history, clrOff: !data.bankruptcy_history }"></span>
</span>

<span ng-if="user.viewopts.voIcon3pcredit">
        <span class="glyphicons glyphicons-charts"
              tooltip="Third Party Credit Required"
              tooltip-append-to-body="true"
              tooltip-placement="bottom"
              ng-class="{ clrOn : data.required_3party, clrOff: !data.required_3party }"></span>
</span>

<span ng-if="user.viewopts.voIconAddedland">
        <span class="glyphicons glyphicons-flag"
              tooltip="Added Land in Database"
              tooltip-append-to-body="true"
              tooltip-placement="bottom"
              ng-class="{ clrOn : data.added_land, clrOff: !data.added_land }"></span>
</span>

<span ng-if="user.viewopts.voIconDisbursement">
        <span class="glyphicons glyphicons-lock"
              tooltip="Controlled Disbursement"
              tooltip-append-to-body="true"
              tooltip-placement="bottom"
              ng-class="{ clrOn : data.controlled_disbursement, clrOff: !data.controlled_disbursement }"></span>
    <!--</a>-->
</span>

<span ng-if="user.viewopts.voIconAttachments">
    <!--<a href="#/edit/{{row.getProperty('loan_type_id')}}/{{row.getProperty('id')}}/prerequisites">-->
        <span class="glyphicons glyphicons-paperclip"
              tooltip="Attachments"
              tooltip-append-to-body="true"
              tooltip-placement="bottom"
              ng-class="{ clrOn : data.has_attachments, clrOff: !data.has_attachments }"></span>
</span>