<div style="width: 100%; height: 4px;">
    <span class="pendicon glyphicons glyphicons-alert cRed" ng-click="ManFactory.clickManagement(data.id, data.limit_warning, 'LWN')" ng-if="data.limit_warning > 2"></span>
    <span class="pendicon glyphicons glyphicons-alert cYellow" ng-click="ManFactory.clickManagement(data.id, data.limit_warning, 'LWN')" ng-if="data.limit_warning === 2"></span>
    <span class="pendicon glyphicons glyphicons-alert cGray" ng-click="ManFactory.clickManagement(data.id, data.limit_warning, 'LWN')" ng-if="data.limit_warning < 2"></span>
</div>