<style>
    .pendicon, .indicon {padding: 1px 0;}
</style>
<div class="frmFull_Page" style="z-index: 10;">
    <div class="row view-page-header-bar">
        <div class="col-md-12">
            <h5 style="display: inline;
                       font-size: 16px;
                       line-height: 30px;
                       z-index: 20;">
                Management
            </h5>
            <span class="pull-right"
                  style="display: inline; margin-top:-3px; z-index: 1000;">
                <form>
                    <select class="form-control"
                            name="landing_view"
                            style="z-index: 10000;"
                            ng-model="landing_view"
                            ng-change="changeLandingView(landing_view)">
                        <option value="settings">My Settings</option>
                        <option value="all">All Loans</option>
                        <option value="spring">Active Spring Loans</option>
                        <option value="fall">Active Fall Loans</option>
                    </select>
                </form>
            </span>
        </div>
    </div>

        <div class="row" ng-cloak>
            <div class="col-sm-12">
                <!-- AG Grid -->
                <div style="margin-top: 10px; width: 100%; height:{{hgt}}px;" ag-grid="gridOptions" class="ag-arm"></div>
                <!-- AG Grid -->
            </div>
        </div>
    </div>
</div>