@import "colors";

#Reports {
  .ag-root {
    font-size: 12px;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .tbl-header-container-blue {
    background: -webkit-linear-gradient(#fff, #EC502A);
    background: -moz-linear-gradient(#fff, #EC502A);
    background: -o-linear-gradient(#fff, #EC502A);
    background: -ms-linear-gradient(#fff, #EC502A);
    background: linear-gradient(#fff, #EC502A);
    border-bottom: 1px solid #101010;
  }
  .table-zebra-stripes > tbody > tr:nth-child(2n+1) > td,
  .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #efefef;
  }
  .table-zebra-stripes-blue > tbody > tr:nth-child(2n+1) > td,
  .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #97c8ff;
  }
  .table-zebra-stripes-blue > tbody > tr:nth-child(2n) > td,
  .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #dfdfdf;
  }
}