<table class="table table-striped rowed table-condensed disp-sm"
       style="width: 96%; margin: 0 auto">
    <tr>
        <th>Holder</th>
        <th>Description</th>
        <th>Lien</th>
        <th style="width: 60px;">&nbsp</th>
    </tr>
    <tr ng-if="loan.priorlien.liens.length === 0">
        <td colspan="3">
            <strong>No Liens Recorded!</strong>
        </td>
    </tr>
    <tr ng-repeat="p in loan.priorlien" ng-init="!rowform.$visible" ng-dblclick="rowform.$show()">
        <td>
            <span editable-text="p.lien_holder" e-name="lien_holder" e-form="rowform" e-style="width:100%;" e-required>
                {{p.lien_holder}}
            </span>
        </td>
        <td>
            <span editable-text="p.description" e-name="description" e-form="rowform" e-style="width:100%;" e-required>
                {{p.description}}
            </span>
        </td>
        <td class="text-right" ng-class="AppFactory.gtZero(p.lien_amount)">
            <span editable-number="p.lien_amount" e-name="lien_amount" e-form="rowform" e-style="width:100%;" e-required>
                {{p.lien_amount|flexCurrency:0}}
            </span>
        </td>
        <td class="text-center">
            <!-- form -->
            <form editable-form name="rowform" onbeforesave="savePriorLien($data, p.id)" ng-show="rowform.$visible" class="form-buttons form-inline">
                <button type="submit" ng-disabled="rowform.$waiting"><span class="glyphicons glyphicons-circle-ok" style="color:#006837;"></span></button>

                <button type="button" class="btnCancel" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"><span class="glyphicons glyphicons-circle-remove" style="color: #990000;"></span></button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
                    <span class="glyphicons glyphicons-remove-2"
                          style="color: #990000;"
                          ng-click="deletePriorLien($index, p.id)"></span>
        </td>
    </tr>
    <tr class="success">
        <td colspan="2">Total</td>
        <td class="text-right" ng-class="gtZero(calcPriorLienTotal)">
            {{calcPriorLienTotal()|flexCurrency:0}}
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4">
                    <span>
                        <a ng-click="createPriorLien()" class="btn btn-xs btn-default"><span class="glyphicons glyphicons-plus" style="color:#006837;"></span> Add New</a>
                    </span>
        </td>
    </tr>
</table>