<div class="row">
    <div class="col-md-12 text-right">
        <button style="margin-right:10px;" class="btn btn-arm" ng-click="updateCollateral()"><span
            class="glyphicons glyphicons-log-book"></span>&nbsp;UPDATE
        </button>
    </div>
</div>
<br>
<fieldset>
    <legend>
        &nbsp;
            <span class="pendicon glyphicon glyphicon-chevron-right"
                  ng-click="togShowConditions()"
                  ng-if="!showConditions"></span>
            <span class="pendicon glyphicon glyphicon-chevron-down"
                  ng-click="togShowConditions()"
                  ng-if="showConditions"></span>
        &nbsp;
        Collateral Conditions
    </legend>
    <div class="container-fluid row form-group" ng-if="showConditions">
        <div class="col-md-12">
            <div ng-include="'./_modules/Loans/collateral/_collateral.conditions.html'"></div>
        </div>
    </div>
</fieldset>
<br/><br/>
<fieldset>
    <legend>
        &nbsp;
            <span class="pendicon glyphicon glyphicon-chevron-right"
                  ng-click="togShowCropCollateral()"
                  ng-if="!showCropCollateral"></span>
            <span class="pendicon glyphicon glyphicon-chevron-down"
                  ng-click="togShowCropCollateral()"
                  ng-if="showCropCollateral"></span>
        &nbsp;
        Crops
    </legend>
    <div class="container-fluid row form-group"ng-if="showCropCollateral">
        <div class="col-md-12">
            <div class="col-md-9">
                <label>Prior lien on crops?</label>
            </div>
            <div class="col-md-3">
                <input type="radio" name="liens" ng-value="true" ng-model="loan.quests.liens"/>
                &nbsp;<label>Yes</label>
                &nbsp;&nbsp;&nbsp;
                <input type="radio" name="liens" ng-value="false" ng-model="loan.quests.liens"/>
                &nbsp;<label>No</label>
            </div>
        </div>
    </div>
    <div class="row form-group" ng-if="loan.quests.liens && showCropCollateral">
        <div ng-include="'./_modules/Loans/collateral/_crop.collateral.html'"></div>
    </div>
</fieldset>
<br/><br/>
<fieldset>
    <legend>
        &nbsp;
            <span class="pendicon glyphicon glyphicon-chevron-right"
                  ng-click="togShowEquipmentCollateral()"
                  ng-if="!showEquipmentCollateral"></span>
            <span class="pendicon glyphicon glyphicon-chevron-down"
                  ng-click="togShowEquipmentCollateral()"
                  ng-if="showEquipmentCollateral"></span>
        &nbsp;
        Equipment
    </legend>
    <div class="container-fluid row form-group" ng-if="showEquipmentCollateral">
        <div class="col-md-12" style="display: none;">
            <div class="col-md-9">
                <label>Equipment used as collateral?</label>
            </div>
            <div class="col-md-3">
                <input type="radio" name="equipcol" ng-value="true" ng-model="loan.equipment_collateral"/>
                &nbsp;<label>Yes</label>
                &nbsp;&nbsp;&nbsp;
                <input type="radio" name="equipcol" ng-value="false" ng-model="loan.equipment_collateral"/>
                &nbsp;<label>No</label>
            </div>
        </div>
    </div>
    <div class="row form-group" ng-if="loan.equipment_collateral && showEquipmentCollateral">
        <div ng-include="'./_modules/Loans/collateral/_equipment.collateral.html'"></div>
    </div>
</fieldset>
<br/><br/>
<fieldset>
    <legend>
        &nbsp;
            <span class="pendicon glyphicon glyphicon-chevron-right"
                  ng-click="togShowRealEstateCollateral()"
                  ng-if="!showRealEstateCollateral"></span>
            <span class="pendicon glyphicon glyphicon-chevron-down"
                  ng-click="togShowRealEstateCollateral()"
                  ng-if="showRealEstateCollateral"></span>
        &nbsp;
        Real Estate
    </legend>
    <div class="container-fluid row form-group" ng-if="showRealEstateCollateral">
        <div class="col-md-12" style="display: none;">
            <div class="col-md-9">
                <label>Real Estate used as collateral?</label>
            </div>
            <div class="col-md-3">
                <input type="radio" name="realestatecol" ng-value="true" ng-model="loan.realestate_collateral"/>
                &nbsp;<label>Yes</label>
                &nbsp;&nbsp;&nbsp;
                <input type="radio" name="realestatecol" ng-value="false" ng-model="loan.realestate_collateral"/>
                &nbsp;<label>No</label>
            </div>
        </div>
    </div>
    <div class="row form-group" ng-if="loan.realestate_collateral && showRealEstateCollateral">
        <div ng-include="'./_modules/Loans/collateral/_realestate.collateral.html'"></div>
    </div>
</fieldset>
<br/><br/>
<fieldset>
    <legend>
        &nbsp;
            <span class="pendicon glyphicon glyphicon-chevron-right"
                  ng-click="togShowOtherCollateral()"
                  ng-if="!showOtherCollateral"></span>
            <span class="pendicon glyphicon glyphicon-chevron-down"
                  ng-click="togShowOtherCollateral()"
                  ng-if="showOtherCollateral"></span>
        &nbsp;
        Other Collateral
    </legend>
    <div class="container-fluid row form-group" ng-if="showOtherCollateral">
        <div class="col-md-12" style="display: none;">
            <div class="col-md-9">
                <label>Other sources used as collateral?</label>
            </div>
            <div class="col-md-3">
                <input type="radio" name="othercol" ng-value="true" ng-model="loan.other_collateral"/>
                &nbsp;<label>Yes</label>
                &nbsp;&nbsp;&nbsp;
                <input type="radio" name="othercol" ng-value="false" ng-model="loan.other_collateral"/>
                &nbsp;<label>No</label>
            </div>
        </div>
    </div>
    <div class="row form-group" ng-if="loan.other_collateral && showOtherCollateral">
        <div ng-include="'./_modules/Loans/collateral/_other.collateral.html'"></div>
    </div>
</fieldset>
<br/><br/>
<fieldset>
    <legend>
        &nbsp;
            <span class="pendicon glyphicon glyphicon-chevron-right"
                  ng-click="togShowCrossCollateral()"
                  ng-if="!showCrossCollateral"></span>
            <span class="pendicon glyphicon glyphicon-chevron-down"
                  ng-click="togShowCrossCollateral()"
                  ng-if="showCrossCollateral"></span>
        &nbsp;
        Cross Collateral
    </legend>
    <div class="container-fluid row form-group" ng-if="showCrossCollateral">
        <div class="col-md-12">
            <div class="col-md-9">
                <label>Cross Collateralized Loans</label>
            </div>
            <div class="col-md-3">
                <input type="radio" name="xcol" ng-value="true" ng-model="loan.is_xcolled"/>
                &nbsp;<label>Yes</label>
                &nbsp;&nbsp;&nbsp;
                <input type="radio" name="xcol" ng-value="false" ng-model="loan.is_xcolled"/>
                &nbsp;<label>No</label>
            </div>
        </div>
        <div class="container-fluid row form-group" ng-if="showCrossCollateral">
            <div ng-include="'./_modules/Loans/collateral/_cross.collateral.html'"></div>
        </div>
    </div>
</fieldset>
<br><br><br><br>