<div class="row form-group">
    <table class="table table-striped rowed table-condensed disp-sm" style="width:85%;">
        <tr>
            <th style="width:19%;">Source</th>
            <th style="width:40%;">Description</th>
            <th style="width:19%;">Amount</th>
            <th style="width:19%;">As Collateral?</th>
            <th style="width:80px;">&nbsp;</th>
        </tr>
        <tr ng-if="loan.indyinc.length === 0">
            <td colspan="5"><strong>No Indirect Income Found.</strong></td>
        </tr>
        <tr ng-repeat="i in loan.indyinc" ng-init="!rowform.$visible" ng-dblclick="rowform.$show()">
            <td class="cBlue">
                <span editable-text="i.source" e-name="source" e-form="rowform" e-style="width:100%;">
                	{{i.source}}
                </span>
            </td>
            <td class="cBlue">
                <span editable-text="i.description" e-name="description" e-form="rowform" e-style="width:100%;">
                	{{i.description}}
                </span>
            </td>
            <td class="text-right cBlue">
                <span editable-text="i.amount" e-name="amount" e-form="rowform" e-style="width:100%;">
                	{{i.amount|flexCurrency:0}}
                </span>
            </td>
            <td class="text-center cBlue">
                <label><input type="checkbox" ng-model="i.collateral"></label>
            </td>
            <td>
                <!-- form -->
                <form  name="rowform" onbeforesave="saveIndirect($data, p.id)" ng-show="rowform.$visible" class="form-buttons form-inline" editable-form="">
                    <button type="submit" ng-disabled="rowform.$waiting" style="border:  none !important; background-image: none !important; background-color: transparent;">
                        <span class="glyphicons glyphicons-circle-ok" style="color:#006837;"></span>
                    </button>
                	<span class="btnCancel" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()">
                		<span class="glyphicons glyphicons-circle-remove" style="color: #990000;"></span>
                	</span>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <span class="glyphicons glyphicons-remove-2" style="color: #990000;" ng-click="deleteIndirect($index, p.id)"></span>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="row" style="margin-top: -20px;">
    <div class="form-group">
        <p>
            <a ng-click="addNewIndirect()" class="btn btn-xs btn-default">
                <span class="glyphicon glyphicon-plus-sign" style="color:#006837;"></span> Add New</a>
        </p>
    </div>
</div>