<style>
    .editable-wrap .editable-controls>select {
        height: 1em !important;
    }
</style>
<div class="row form-group">
    <table class="table table-striped rowed table-condensed disp-sm">
        <tr>
            <th style="width:12%;text-align:left;">Crop</th>
            <th class="text-center" style="width:8%;">UoM</th>
            <th style="width:8%;">{{globals.cropYears.PY1}}</th>
            <th style="width:8%;">{{globals.cropYears.PY2}}</th>
            <th style="width:8%;">{{globals.cropYears.PY3}}</th>
            <th style="width:10%;">3yr Avg</th>
            <th style="width:8%;">{{globals.cropYears.PY4}}</th>
            <th style="width:8%;">{{globals.cropYears.PY5}}</th>
            <th style="9width:8%;">{{globals.cropYears.PY6}}</th>
            <th style="width:10%;">6yr Avg</th>
            <th style="width:80px;">&nbsp;</th>
        </tr>
        <tr ng-repeat="c in loan.loancrops" ng-init="!rowform.$visible" ng-dblclick="rowform.$show()">
            <td>{{c.crop.name}}</td>
            <td class="text-center cBlue">
                <span editable-select="c.crop.measurement" e-name="measurement" e-form="rowform" e-ng-options="u.abr as u.unit for u in units" e-ng-change="uomChanged(c.id, c.measurement)" buttons="no">
                    {{ c.crop.measurement }}
                </span>
            </td>
            <td class="text-right cBlue">
                <span editable-number="c.yields[0].p1" e-name="p1" e-form="rowform" e-style="width:100%;">
                	{{c.yields[0].p1|number:1}}
                </span>
            </td>
            <td class="text-right cBlue">
                <span editable-number="c.yields[0].p2" e-name="p2" e-form="rowform" e-style="width:100%;">
                	{{c.yields[0].p2|number:1}}
                </span>
            </td>
            <td class="text-right cBlue">
                <span editable-number="c.yields[0].p3" e-name="p3" e-form="rowform" e-style="width:100%;">
                	{{c.yields[0].p3|number:1}}
                </span>
            </td>
            <td class="text-right">
                {{AppFactory.getAverage([c.yields[0].p1, c.yields[0].p2, c.yields[0].p3])| number:1}}
            </td>
            <td class="text-right cBlue">
                <span editable-number="c.yields[0].p4" e-name="p4" e-form="rowform" e-style="width:100%;">
                	{{c.yields[0].p4|number:1}}
                </span>
            </td>
            <td class="text-right cBlue">
                <span editable-number="c.yields[0].p5" e-name="p5" e-form="rowform" e-style="width:100%;">
                	{{c.yields[0].p5|number:1}}
                </span>
            </td>
            <td class="text-right cBlue">
                <span editable-number="c.yields[0].p6" e-name="p6" e-form="rowform" e-style="width:100%;">
                	{{c.yields[0].p6|number:1}}
                </span>
            </td>
            <td class="text-right">
                {{AppFactory.getAverage([c.yields[0].p1, c.yields[0].p2, c.yields[0].p3, c.yields[0].p4, c.yields[0].p5, c.yields[0].p6])| number:1}}
            </td>
            <td class="text-center">
                <!-- form -->
                <form  name="rowform" onbeforesave="save($data, p.id)" ng-show="rowform.$visible" class="form-buttons form-inline" editable-form="">
                    <button type="submit" ng-disabled="rowform.$waiting" style="border:  none !important; background-image: none !important; background-color: transparent;">
                        <span class="glyphicons glyphicons-circle-ok" style="color:#006837;"></span>
                    </button>
                	<span class="btnCancel" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()">
                		<span class="glyphicons glyphicons-circle-remove" style="color: #990000;"></span>
                	</span>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    &nbsp;-&nbsp;
                    <span class="glyphicons glyphicons-remove-2" style="display: none;color: #990000;" ng-click="delete($index, p.id)"></span>
                </div>
            </td>
        </tr>
    </table>
</div>