<div class="row">
    <div ng-repeat="c in loan.corps" style="width:94%; margin: 0 auto;">
        <div class="row">
            <div class="form-group col-md-3">
                <label>President (Last, First, MI):</label>
                <br/>
                <input type="text" class="form-control" ng-model="c.president"/>
            </div>
            <div class="form-group col-md-3">
                <label>Vice-President (Last, First, MI):</label>
                <br/>
                <input type="text" class="form-control" ng-model="c.vicepresident"/>
            </div>
            <div class="form-group col-md-3">
                <label>Secretary (Last, First, MI):</label>
                <br/>
                <input type="text" class="form-control" ng-model="c.secretary"/>
            </div>
            <div class="form-group col-md-3">
                <label>Treasurer (Last, First, MI):</label>
                <br/>
                <input type="text" class="form-control" ng-model="c.treasurer"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <label>Corporation Details.</label>
                <textarea name="corp_details" ng-model="c.description" class="form-control" style="height:120px;"></textarea>
            </div>
        </div>
    </div>
</div>