<div class="row">
    <table class="table table-striped table-rowed" style="width:96%;">
        <tr>
            <th style="width:20%;" data-ng-click="doSort('name')">Name</th>
            <th style="width:10%;" data-ng-click="doSort('SSN')">SSN</th>
            <th style="width:10%;" data-ng-click="doSort('Phone')">Phone</th>
            <th style="width:10%;" data-ng-click="doSort('Email')">Email</th>
            <th style="width:5%;">&nbsp;</th>
        </tr>
        <tr ng-repeat="p in loan.joints" ng-init="!rowform.$visible" ng-dblclick="rowform.$show()">
            <td class="cBlue">
                        <span editable-text="p.partner" e-name="partner" e-form="rowform" e-style="width:100%;" e-required>
                  {{ p.partner || '--' }}
                </span>
            </td>
            <td class="cBlue">
                        <span editable-text="p.ssn" e-name="ssn" e-form="rowform" e-style="width:100%;" e-required>
                  {{ p.ssn }}
                </span>
            </td>
            <td class="cBlue">
                       <span editable-text="p.phone" e-name="phone" e-form="rowform" e-style="width:100%;" e-required>
                  {{ p.phone || '--' }}
                </span>
            </td>
            <td class="cBlue">
                        <span editable-text="p.email" e-name="email" e-form="rowform" e-style="width:100%;" e-required>
                  {{ p.email || '--' }}
                </span>
            </td>
            <td>
                <!-- form -->
                <form  name="rowform" onbeforesave="saveJoint($data, p.id)" ng-show="rowform.$visible" class="form-buttons form-inline" editable-form="">
                	<button type="submit" ng-disabled="rowform.$waiting" style="border:  none !important; background-image: none !important; background-color: transparent;">
                		<span class="glyphicons glyphicons-circle-ok" style="color:#006837;"></span>
                	</button>
                	<span class="btnCancel" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()">
                		<span class="glyphicons glyphicons-circle-remove" style="color: #990000;"></span>
                	</span>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                	<span class="glyphicons glyphicons-remove-2" style="color: #990000;" ng-click="deleteJoint($index, p.id)"></span>
                </div>
            </td>
        </tr>
        <tr ng-if="!loan.joints || loan.joints.length == 0">
            <td colspan="6"><b>No Joint Ventures found!</b></td>
        </tr>
    </table>
    <p>
        <a ng-click="createNewJoint()" class="btn btn-xs btn-default">
            <span class="glyphicon glyphicon-plus-sign" style="color:#006837;"></span> Add New</a>
    </p>
</div>