<div class="row">
    <div class="col-md-12 text-right">
        <button style="margin-right:10px;" class="btn btn-arm" ng-click="updateApplicantsScreen()"><span class="glyphicons glyphicons-log-book"></span>&nbsp;UPDATE</button>
    </div>
</div>

<br>

<fieldset>
    <legend>
        &nbsp;
        <span class="pendicon glyphicon glyphicon-chevron-right"
              ng-click="togShowFarmer()"
              ng-if="!showFarmer"></span>
        <span class="pendicon glyphicon glyphicon-chevron-down"
              ng-click="togShowFarmer()"
              ng-if="showFarmer"></span>
        &nbsp;Farmer
    </legend>
    <div class="container-fluid"
         ng-include="'./_modules/Loans/applicant/_farmer.html'"
         ng-if="showFarmer">
    </div>
</fieldset>

<br><br>

<fieldset>
    <legend>
        &nbsp;
        <span class="pendicon glyphicon glyphicon-chevron-right"
              ng-click="togShowApplicant()"
              ng-if="!showApplicant"></span>
        <span class="pendicon glyphicon glyphicon-chevron-down"
              ng-click="togShowApplicant()"
              ng-if="showApplicant"></span>
        &nbsp;Applicant
    </legend>
    <div class="container-fluid"
         ng-include="'./_modules/Loans/applicant/_applicant.html'"
         ng-if="showApplicant">
    </div>
</fieldset>

<br><br>

<fieldset ng-show="loan.applicant.entity_id === '4'">
    <legend>
        &nbsp;
                <span class="pendicon glyphicon glyphicon-chevron-right"
                      ng-click="togShowPartner()"
                      ng-if="!showPartner"></span>
                <span class="pendicon glyphicon glyphicon-chevron-down"
                      ng-click="togShowPartner()"
                      ng-if="showPartner"></span>
        &nbsp;Partners
    </legend>
    <div class="container-fluid"
         ng-include="'./_modules/Loans/applicant/_partner.html'"
         ng-if="showPartner">
    </div>
</fieldset>

<fieldset ng-show="loan.applicant.entity_id === '3'">
    <legend>
        &nbsp;
                <span class="pendicon glyphicon glyphicon-chevron-right"
                      ng-click="togShowJoints()"
                      ng-if="!showJoints"></span>
                <span class="pendicon glyphicon glyphicon-chevron-down"
                      ng-click="togShowJoints()"
                      ng-if="showJoints"></span>
        &nbsp;Joint Ventures
    </legend>
    <div class="container-fluid"
         ng-include="'./_modules/Loans/applicant/_joints.html'"
         ng-if="showJoints">
    </div>
</fieldset>

<fieldset ng-show="loan.applicant.entity_id === '1'">
    <legend>
        &nbsp;
        <span class="pendicon glyphicon glyphicon-chevron-right"
              ng-click="togShowCorps()"
              ng-if="!showCorps"></span>
        <span class="pendicon glyphicon glyphicon-chevron-down"
              ng-click="togShowCorps()"
              ng-if="showCorps"></span>
        &nbsp;Corporation
    </legend>
    <span class="container-fluid"
         ng-include="'./_modules/Loans/applicant/_corps.html'"
         ng-if="showCorps"></span>
    </div>
</fieldset>

<br><br><br><br>