<style>
    button {cursor: pointer;}
</style>
<fieldset>
    <legend>Distributors</legend>
    <table class="table table-striped rowed">
        <tr>
            <th style="width:6%;">Abr</th>
            <th style="width:22%;">Name</th>
            <th style="width:20%;">Address</th>
            <th style="width:12%;">City</th>
            <th style="width:7%;">St</th>
            <th style="width:8%;">Zip</th>
            <th style="width:15%;">Phone</th>
            <th style="width:12%;">Email</th>
            <th style="width:6%;">&nbsp;</th>
        </tr>
        <tr ng-repeat="dis in vm.distributors" ng-init="!rowform.$visible" ng-dblclick="rowform.$show()">
            <td>
                <span editable-text="dis.distributor" e-name="distributor" e-form="rowform" e-style="width:100%;" e-required>
                  {{ dis.distributor || '--' }}
                </span>
            </td>
            <td>
                <span editable-text="dis.name" e-name="name" e-form="rowform" e-style="width:100%;">
                  {{ dis.name || '--' }}
                </span>
            </td>
            <td>
                <span editable-text="dis.address" e-name="address" e-form="rowform" e-style="width:100%;">
                  {{ dis.address || '--' }}
                </span>
            </td>
            <td>
                <span editable-text="dis.city" e-name="city" e-form="rowform" e-style="width:100%;">
                  {{ dis.city || '--' }}
                </span>
            </td>
            <td>
                <span editable-select="dis.state_id" e-name="state_id" e-form="rowform" e-ng-options="s.id as s.abr for s in vm.states">
                  {{ dis.state_abr }}
                </span>
            </td>
            <td>
                <span editable-text="dis.zip" e-name="zip" e-form="rowform" e-style="width:100%;">
                  {{ dis.zip || '--' }}
                </span>
            </td>
            <td>
                <span editable-text="dis.phone" e-name="phone" e-form="rowform" e-style="width:100%;">
                  {{ dis.phone|phone }}
                </span>
            </td>
            <td>
                <span editable-text="dis.email" e-name="email" e-form="rowform" e-style="width:100%;">
                  {{ dis.email || '--' }}
                </span>
            </td>
            <td style="white-space: nowrap">
                <!-- form -->
                <form editable-form name="rowform" onbeforesave="vm.saveRecord($data, dis.id)" ng-show="rowform.$visible" class="form-buttons form-inline">
                    <button type="submit" ng-disabled="rowform.$waiting"><span class="glyphicons glyphicons-circle-ok" style="color:#006837;"></span></button>

                    <button type="button" class="btnCancel" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"><span class="glyphicons glyphicons-circle-remove" style="color: #990000;"></span></button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <span class="glyphicons glyphicons-remove-2"
                          style="color: #990000;"
                          ng-click="vm.deleteOne($index, dis.id)"></span>
                </div>
            </td>
        </tr>
    </table>
    <p>
        <a ng-click="vm.createNew()" class="btn btn-xs btn-default">
            <span class="glyphicon glyphicon-plus-sign" style="color:#006837;"></span> Add New</a>
    </p>
</fieldset>
<br>
<div class="row">
    <div class="col-md-12 text-right">
        <button style="margin-right:10px;" class="btn btn-primary" ng-click="vm.saveAll()"><span class="glyphicons glyphicons-log-book"></span>&nbsp;UPDATE</button>
    </div>
</div>
<br><br><br>