<h3> &nbsp; Customer Budget </h3>
<div id="cusbud">
    <form>
        <div ng-if="detail">
            <div ng-repeat="x in gridOptions.selectedRows">
                <table style="width:auto;float:right"
                       class="table table-zebra-stripes-blue table-bordered table-condensed table-hover table-responsive">
                    <thead>
                    <tr class="tbl-header-container-blue">
                        <th>Category</th>
                        <th>Budget</th>
                        <th>Spent</th>
                        <th>Available</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div ng-if="x.disbursements != null">
                        <tr ng-repeat="item in x.disbursements">
                            <td class="text-left">{{item['expense']}}</td>
                            <td class="text-right">{{item['arm_budget'] | currency}}</td>
                            <td class="text-right">{{item['spent'] | currency}}</td>
                            <td class="text-right">{{item['arm_budget'] - item['spent'] | currency}}</td>
                        </tr>
                    </div>
                    <div ng-if="x.disbursements== null">
                    </div>
                    </tbody>
                </table>
            </div>
        </div>
    </form>

    <div class="ag-fresh" ag-grid="gridOptions" ng-style="{height: gridHeight}"></div>
    <form>
            <span style="display:inline-block;float:left;"> &nbsp;
            <span ng-click="showToolPanel()"><img ng-src="images/control_panel.png"
                                                  style="width:30px"> Control Panel </span>
                &nbsp; &nbsp;
            <span ng-click="toggleDollarsPercent()"
                  ng-class="{'cBlack': dollarsPercent, 'cGray': !dollarsPercent}"
                  style="width:30px"> $/%</span>
                &nbsp; &nbsp;
            <span class="btn glyphicons glyphicons-expand"
                  ng-click="toggleDetail()"
                  ng-class="{'cBlack': detail, 'cGray': !detail}">
            </span>
            </span>
            <span style="display:inline-block;float:right;">
            <span ng-click=""><img ng-src="images/print.png" style="width:25px"> Print </span>
            <span ng-click=""><img ng-src="images/email.png" style="width:25px"> Email </span>
            <span ng-click=""><img ng-src="images/excel.jpg" style="width:25px"> Excel </span>
            <span ng-click=""><img ng-src="images/pdficon.png" style="width:25px"> PDF &nbsp; </span>
            </span>
        <span style="display:inline-block;float:left;position: absolute;top: 150px;right: 28px;">
        &nbsp; <input placeholder="Filter..." type="text" ng-model="gridOptions.quickFilterText"/>
        </span>
        <br><br>
    </form>

    <!--<pre>{{gridOptions.selectedRows | json}}</pre>-->