<table class="table table-striped rowed disp-sm" style="width:100%; margin: 0 auto;">
    <tr>
        <th>Source</th>
        <th style="width:7%">Acres</th>
        <th style="width:7%">Yield</th>
        <th style="width:7%">Price</th>
        <th style="width:7%">Share</th>
        <th style="width:7%">Crops</th>
        <th style="width:7%">Bk Adj</th>
        <th style="width:7%">Hrv Adj</th>
        <th style="width:7%">RP</th>
        <th style="width:7%">RP-HPE</th>
        <th style="width:7%">YP</th>
        <th style="width:7%">Insurance</th>
        <th style="width:7%">Over Disc</th>
        <th style="width:7%">Total</th>
    </tr>
    <tr ng-repeat="c in loan.loancrops">
        <td>{{c.crop.name}}</td>
        <td class="text-right" ng-class="AppFactory.gtZero(AppFactory.calcCropAcres(c))">
            {{AppFactory.calcCropAcres(c) | number:1}}
        </td>
        <td class="text-right" ng-class="AppFactory.gtZero(AppFactory.calcCropAph(c))">
            {{AppFactory.calcCropAph(c) | number:1}}
        </td>
        <td class="text-right" ng-class="AppFactory.gtZero(AppFactory.calcCropProdPrice(c))">
            {{AppFactory.calcCropProdPrice(c) | flexCurrency:4}}
        </td>
        <td class="text-right" ng-class="AppFactory.gtZero(AppFactory.calcCropProdShare(c))">
            {{AppFactory.calcCropProdShare(c) | flexPercent:1}}
        </td>
        <td class="text-right bright" ng-class="AppFactory.gtZero(AppFactory.calcCropValue(c))">
            {{AppFactory.calcCropValue(c) | flexCurrency:0}}
        </td>
        <td class="text-right" ng-class="AppFactory.gtZero(AppFactory.calcBookAdj(c))">
            {{AppFactory.calcBookAdj(c) | flexCurrency:0}}
        </td>
        <td class="text-right bright" ng-class="AppFactory.gtZero(AppFactory.calcHvstAdj(c))">
            {{AppFactory.calcHvstAdj(c) | flexCurrency:0}}
        </td>
        <td class="text-right" ng-class="AppFactory.gtZero(AppFactory.calcRPbyCrop(c))">
            {{AppFactory.calcRPbyCrop(c) | flexCurrency:0}}
        </td>
        <td class="text-right" ng-class="AppFactory.gtZero(c.ins_rphpe)">
            {{c.ins_rphpe | flexCurrency:0}}
        </td>
        <td class="text-right" ng-class="AppFactory.gtZero(c.ins_yp)">
            {{c.ins_yp | flexCurrency:0}}
        </td>
        <td class="text-right" ng-class="AppFactory.gtZero(c.insurance)">
            {{c.insurance | flexCurrency:0}}
        </td>
        <td class="text-right" ng-class="AppFactory.gtZero(c.ins_over_disc)">
            {{c.ins_over_disc | flexCurrency:0}}
        </td>
        <td class="text-right" ng-class="AppFactory.gtZero(c.total)">
            {{c.total | flexCurrency:0}}
        </td>
    </tr>
    <tr>
        <td colspan="5">FSA Payment</td>
        <td class="text-right bright" ng-class="AppFactory.gtZero(loan.fins.total_fsa_pay)">
            {{loan.fins.total_fsa_pay | flexCurrency:0}}
        </td>
        <td colspan="8">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="5">Other</td>
        <td class="text-right bright" ng-class="AppFactory.gtZero(loan.fins.total_claims)">
            {{loan.fins.total_claims | flexCurrency:0}}
        </td>
        <td colspan="8">&nbsp;</td>
    </tr>
    <tr class="success">
        <td class="text-left">Totals</td>
        <td class="text-right">{{loan.fins.total_acres | number:1}}</td>
        <td colspan="3">&nbsp;</td>
        <td class="text-right bright">
            {{AppFactory.calcTotalIncome(loan) | flexCurrency:0}}
        </td>
        <td colspan="8">&nbsp;</td>

    </tr>
</table>
<!--<pre>{{loan.loancrops | json}}</pre>-->