<table class="table table-striped rowed disp-sm">
    <tbody>
    <tr>
        <td colspan="5" style="width: 50%;">&nbsp</td>
        <td class="text-center" style="width:10%;">ARM</td>
        <td class="text-center" style="width:10%;" ng-if="loan.has_distributor">
            {{loan.distributor.distributor}}
        </td>
        <td class="text-center" style="width:10%;">Other</td>
        <td class="text-center" style="width:10%;">Total</td>
    </tr>

    <tr ng-repeat="e in loan.expenses.totals.byCat|orderBy: 'cat_id'" ng-if="e.expense != 'Total'">
        <td colspan="5">{{e[0].expense}}</td>
        <td class="text-right" ng-class=AppFactory.gtZero(e[0].calc_arm)>
            {{e[0].calc_arm | flexCurrency:0 }}
        </td>
        <td class="text-right" ng-class=AppFactory.gtZero(e[0].calc_dist) ng-if="loan.has_distributor">
            {{e[0].calc_dist | flexCurrency:0 }}
        </td>
        <td class="text-right" ng-class=AppFactory.gtZero(e[0].calc_other)>
            {{e[0].calc_other | flexCurrency:0 }}
        </td>
        <td class="text-right" ng-class=AppFactory.gtZero(e[0].calc_total)>
            {{e[0].calc_total | flexCurrency:0 }}
        </td>
    </tr>

    <!-- CROP EXPENSES -->
    <tr class="warning" style="display:none;">
        <td colspan="5">Crop Expenses</td>
        <td class="text-right" ng-class=AppFactory.gtZero(loan.expenses.totals.byLoan.arm)>
            {{loan.expenses.totals.byLoan.arm | flexCurrency:0 }}
        </td>
        <td class="text-right" ng-class=AppFactory.gtZero(loan.expenses.totals.byLoan.dist)>
            {{loan.expenses.totals.byLoan.dist | flexCurrency:0 }}
        </td>
        <td class="text-right" ng-class="AppFactory.gtZero(loan.expenses.totals.byLoan.other)">
            {{loan.expenses.totals.byLoan.other | flexCurrency:0 }}
        </td>
        <td class="text-right" ng-class="AppFactory.gtZero(loan.expenses.totals.byLoan.total)">
            {{loan.expenses.totals.byLoan.total | flexCurrency:0 }}
        </td>
    </tr>

    <!-- FARM EXPENSES -->
    <tr ng-repeat="fe in loan.farmexpenses">
        <td colspan="5">
            {{fe.expense}}
        </td>
        <td class="text-right">
            {{fe.cost|flexCurrency:0}}
        </td>
        <td class="text-center"> -</td>
        <td class="text-center"> -</td>
        <td class="text-right">
            {{fe.cost|flexCurrency:0}}
        </td>
    </tr>

    <!-- SUMMARY OF FARM EXPENSES -->
    <tr class="warning" style="display:none;">
        <td colspan="5">
            Full Farm Expenses
        </td>
        <td class="text-right">
            {{AppFactory.calcTotalFarmExpenses(loan)|flexCurrency:0}}
        </td>
        <td class="text-center"> -</td>
        <td class="text-center"> -</td>
        <td class="text-right">
            {{AppFactory.calcTotalFarmExpenses(loan)|flexCurrency:0}}
        </td>
    </tr>

    <!-- FEES -->
    <tr style="display:none;" style="display:none;">
        <td colspan="5">Fees and Other</td>
        <td class="text-right">
            {{loan.fins.fee_total|flexCurrency:0 }}
        </td>
        <td class="text-center" ng-if="loan.has_distributor"> -</td>
        <td class="text-center"> -</td>
        <td class="text-right">
            {{loan.fins.fee_total|flexCurrency:0 }}
        </td>
    </tr>

    <!-- PRINCIPAL -->
    <tr class="success">
        <td colspan="5" class="text-left">
            <strong>Total Budgeted Expenses</strong>
        </td>
        <td class="text-right">
            {{AppFactory.calcTotalArmAndFarmExpenses(loan)|flexCurrency:0}}
        </td>
        <td class="text-right" ng-class=gtZero(loan.expenses.totals.byLoan.dist)>
            {{loan.expenses.totals.byLoan.dist | flexCurrency:0 }}
        </td>
        <td class="text-right" ng-class=gtZero(loan.expenses.totals.byLoan.other)>
            {{loan.expenses.totals.byLoan.other | flexCurrency:0 }}
        </td>
        <td class="text-right">
            {{AppFactory.calcTotalExpenses(loan) | flexCurrency:0 }}
        </td>
    </tr>

    <!-- INTEREST -->
    <tr style="display:none;">
        <td colspan="5">Estimated Interest</td>
        <td class="text-right">
            {{loan.fins.int_arm|flexCurrency:0}}
        </td>
        <td class="text-right" ng-if="loan.has_distributor">
            {{loan.fins.int_dist|flexCurrency:0}}
        </td>
        <td class="text-center"> -</td>
        <td class="text-right">
            {{loan.fins.int_total|flexCurrency:0}}
        </td>
    </tr>

    <!-- CASH FLOW/DEFICIT -->
    <tr class="warning" style="display:none;">
        <td>Cash Flow (Deficit)</td>
        <td colspan="7" ng-if="loan.has_distributor">&nbsp;</td>
        <td colspan="6" ng-if="!loan.has_distributor">&nbsp;</td>
        <td class="text-right">
            {{AppFactory.calcCashFlow(loan) | flexCurrency:0 }}
        </td>
    </tr>
    </tbody>
</table>