<table class="table table-striped rowed disp-sm">
    <tr>
        <th>&nbsp;</th>
        <th>Type</th>
        <th>Option</th>
        <th>Price</th>
        <th>Level</th>
        <th>MPCI</th>
        <th>Premium</th>
        <th>Share</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Corn NI</td>
        <td class="text-center">RP</td>
        <td class="text-center">EU</td>
        <td class="text-right">{{4.20|flexCurrency:2}}</td>
        <td class="text-right">{{75|flexPercent:1}}</td>
        <td class="text-right">{{479.75|flexCurrency:2}}</td>
        <td class="text-right">{{20.00|flexCurrency:2}}</td>
        <td class="text-right">{{84.4|flexPercent:1}}</td>
        <td class="text-right">{{388025|flexCurrency:0}}</td>
    </tr>
    <tr>
        <td>Soybeans NI</td>
        <td class="text-center">RP</td>
        <td class="text-center">EU</td>
        <td class="text-right">{{9.25|flexCurrency:2}}</td>
        <td class="text-right">{{75|flexPercent:1}}</td>
        <td class="text-right">{{346.88|flexCurrency:2}}</td>
        <td class="text-right">{{20|flexCurrency:2}}</td>
        <td class="text-right">{{84.0|flexPercent:1}}</td>
        <td class="text-right">{{274575|flexCurrency:0}}</td>
    </tr>
    <tr>
        <td>Cotton IR</td>
        <td class="text-center">RP</td>
        <td class="text-center">EU</td>
        <td class="text-right">{{0.630|flexCurrency:2}}</td>
        <td class="text-right">{{70|flexPercent:1}}</td>
        <td class="text-right">{{374.85|flexCurrency:2}}</td>
        <td class="text-right">{{21|flexCurrency:2}}</td>
        <td class="text-right">{{84.0|flexPercent:1}}</td>
        <td class="text-right">{{297234|flexCurrency:0}}</td>
    </tr>
    <tr>
        <td>Cotton NI</td>
        <td class="text-center">RP</td>
        <td class="text-center">EU</td>
        <td class="text-right">{{0.600|flexCurrency:2}}</td>
        <td class="text-right">{{70|flexPercent:1}}</td>
        <td class="text-right">{{357.00|flexCurrency:2}}</td>
        <td class="text-right">{{21|flexCurrency:2}}</td>
        <td class="text-right">{{84.0|flexPercent:1}}</td>
        <td class="text-right">{{282240|flexCurrency:0}}</td>
    </tr>
    <tr>
        <td class="success">Total Insurance</td>
        <td class="success" colspan="7">&nbsp;</td>
        <td class="text-right success">
            {{1240074|flexCurrency:0}}
        </td>
    </tr>
</table>
<br/>
<table class="table" style="width:80%; margin:0 auto;">
    <tr>
        <td style="width:60%;">ARM<span ng-if="loan.has_distributor"> and {{loan.distributor}} </span>Loan secured by Collateral Conditions</td>
        <td style="width:40%;" colspan="3" class="text-right">
            {{loan.expenses.totals.byLoan.arm + loan.expenses.totals.byLoan.dist|flexCurrency:0}}
        </td>
    </tr>
    <tr>
        <td>Applicant's share of crop insurance less premium</td>
        <td colspan="3" class="text-right">
            {{1240074 | flexCurrency:0}}
        </td>
    </tr>
    <tr>
        <td>Crop Insurance coverage in excess of ARM<span ng-if="loan.has_distributor"> and {{loan.distributor}}</span> Loan</td>
        <td colspan="3" class="text-right">
            {{1240074 - 487640 | flexCurrency:0}}
        </td>
    </tr>
</table>