<style>
    label{ color: #999999; }
</style>
<!--<fieldset>-->
<legend>Loan Summary</legend>
<div class="container-fluid">
    <div id="Loan Info" class="row" ng-if="!XColView">
        <div ng-include="'./_modules/Loans/summary/_loaninfo.html'"></div>
    </div>
</div>
<br>
<!--LOAN SUMMARY (COMMENT)-->
<div ng-repeat="c in comments.Loan">
    <div class="alert alert-default" role="alert">
        <h4>
            <span class="glyphicon glyphicon-pencil"></span>
            Loan Summary
        </h4>
        <hr/>
        <p style="font-size:11px;font-weight:bold;"><i>{{c.user.name}}</i>
            &nbsp;&nbsp;-&nbsp;&nbsp;
            <i>{{c.updated_at | date:'MM/dd/yy'}}</i>
        </p>

        <p>{{c.comment}}</p>

        <div ng-show="comments.Addendum">
            <hr/>
            <div ng-repeat="c in comments.Addendum">
                <p style="font-size:11px;font-weight:bold; color:red;">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;
                    <i>{{c.user.name}}</i>
                    &nbsp;&nbsp;-&nbsp;&nbsp;
                    <i>{{c.updated_at | date:'MM/dd/yy'}}</i>
                </p>

                <p style="color:red;">
                    {{c.comment}}
                </p>
            </div>
        </div>
    </div>
</div>

<!--Collateral Conditions-->
<div class="row" ng-if="!XColView"
     style="padding-top: 20px;">
    <div class="form-group col-md-12 text-left">
        <b>Collateral Conditions</b>

        <div class="row">
            <div class="form-group col-md-6 col-md-offset-1">
                <div ng-include="'./_modules/Loans/summary/_loan.conditions.html'"></div>
            </div>
        </div>
    </div>
</div>

<span ng-switch="loan.loan_type_id" ng-if="!XColView">
      <span ng-switch-when="7">
          <!-- GRAIN STORAGE LOANS ONLY -->
        <div ng-include="'./_modules/Loans/summary/_storage.contract.html'"></div>
      </span>

      <span ng-switch-default>
      <!-- ALL LOANS BUT GRAIN STORAGE -->

        <!--Projected Income-->
        <div class="row" style="padding-top: 20px;">
            <div class="form-group col-md-12 text-left">
                <b>Projected Income</b>
            </div>
            <div class="row">
                <div class="col-md-11" style="margin-left:20px;">
                    <div ng-include="'./_modules/Loans/summary/_income.tbl.html'"></div>
                </div>
            </div>
        </div>

      <!--USE OF FUNDS ANALYSIS-->
    <div class="row" style="padding-top: 20px;">
        <div class="form-group col-md-12 text-left">
            <b>Use of Funds Analysis</b>
        </div>
        <div class="row">
            <div class="col-md-11" style="margin-left:20px;">
                <div ng-if="loan.has_distributor"
                     ng-include="'./_modules/Loans/summary/_budget.tbl.html'"></div>
                <div ng-if="!loan.has_distributor"
                     ng-include="'./_modules/Loans/summary/_budget.nd.tbl.html'"></div>
            </div>
        </div>
    </div>

      <!--INSURANCE ANALYSIS-->
      <!--TODO: hide if loantypeid < 4-->
      <div class="row" style="padding-top: 20px;">
          <div class="form-group col-md-12 text-left">
              <b>Crop Insurance Analysis</b>
          </div>
          <div class="row">
              <div class="col-md-11" style="margin-left:20px;">
                  <div ng-include="'./_modules/Loans/summary/_insurance.analysis.html'"></div>
              </div>
          </div>
      </div>
    <br/><br/>
    <!--BREAK-EVEN ANALYSIS-->
      <div class="row" style="padding-top: 20px;">
          <div class="form-group col-md-12 text-left">
              <b>Break Even Analysis for ARM<span ng-if="loan.has_distributor"> and {{loan.distributor.distributor}}</span></b>
          </div>
          <div class="row">
              <div class="col-md-11" style="margin-left:20px;">
                  <div ng-include="'./_modules/Loans/summary/_break.even.analysis.html'"></div>
              </div>
          </div>
      </div>

  </span>
    </span>

<!-- CROSS COLLATERAL VIEW -->

<!-- PROJECTED INCOME SUMMARY-->
<div class="row" ng-if="XColView"
     style="padding-top: 20px;">
    <div class="form-group col-md-12 text-left">
        <b>Projected Income Summary</b>
        <div class="row">
            <div ng-include="'./_modules/Loans/xcollateral/_projected.income.html'"></div>
        </div>
    </div>
</div>

<!-- IF DISTRIBUTOR, DISTRIBUTOR EXPENSES-->
<div class="row" ng-if="XColView && loan.has_distributor"
     style="padding-top: 20px;">
    <div class="form-group col-md-12 text-left">
        <b>Distributor Use of Funds</b>
        <div class="row">
            <div ng-include="'./_modules/Loans/xcollateral/_expenses.distributor.html'"></div>
        </div>
    </div>
</div>

<!-- ARM EXPENSES-->
<div class="row" ng-if="XColView"
     style="padding-top: 20px;">
    <div class="form-group col-md-12 text-left">
        <b>ARM Use of Funds</b>
        <div class="row">
            <div ng-include="'./_modules/Loans/xcollateral/_expenses.arm.html'"></div>
        </div>
    </div>
</div>

<!-- OTHER EXPENSES-->
<div class="row" ng-if="XColView"
     style="padding-top: 20px;">
    <div class="form-group col-md-12 text-left">
        <b>Other Use of Funds</b>
        <div class="row">
            <div ng-include="'./_modules/Loans/xcollateral/_expenses.other.html'"></div>
        </div>
    </div>
</div>

<!-- INSURANCE COVERAGE-->
<div class="row" ng-if="XColView"
     style="padding-top: 20px;">
    <div class="form-group col-md-12 text-left">
        <b>Insurance Coverage</b>
        <div class="row">
            <div ng-include="'./_modules/Loans/xcollateral/_insurance.coverage.html'"></div>
        </div>
    </div>
</div>
<br><br><br><br>
<!-- /CROSS COLLATERAL VIEW -->

<!--</fieldset>-->