<style>
    .btn-group button{
        width: 120px !important;
        min-width: 120px !important;
        max-width: 120px !important;
    }
    .ctrlButtons {
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;
        text-align: right;
        cursor: pointer;
    }
</style>
<fieldset>
    <legend>Comments</legend>
    <div class="container-fluid">
        <!--New Comment / Watch List-->
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group btn-group-sm pull-right" role="group">
                    <button type="button"
                            class="btn btn-warning">
                        <span class="glyphicons glyphicons-user"></span>
                        Analyst
                    </button>
                    <button type="button"
                            class="btn btn-primary">
                        <span class="glyphicons glyphicons-group"></span>
                        Committee
                    </button>
                    <button type="button"
                            class="btn btn-arm">
                        <span class="glyphicons glyphicons-usd"></span>
                        Disbursements
                    </button>
                    <button type="button"
                            class="btn btn-danger">
                        <span class="glyphicons glyphicons-sunglasses"></span>
                        Watchlist
                    </button>
                </div>
            </div>
            <!--<div class="col-md-6 text-left">-->
                <!--<button-->
                    <!--class="btn btn-primary btn-xs"-->
                    <!--ng-click="createComment()">-->
                    <!--<span class="glyphicon glyphicon-plus"></span>-->
                    <!--Add-->
                <!--</button>-->
                <!--<br/><br/>-->
            <!--</div>-->
            <!--<div class="col-md-6 text-right">-->
                <!--<button-->
                    <!--ng-if="!loan.is_watched"-->
                    <!--class="btn btn-primary btn-xs pull-right"-->
                    <!--ng-click="loan.is_watched = true; turnOnWatchList()" style="color: white;">-->
                    <!--<span style="border:none;">-->
                        <!--<span class="glyphicons glyphicons-sunglasses"></span>-->
                        <!--Watch List-->
                    <!--</span>-->
                <!--</button>-->
                <!--<button-->
                    <!--ng-if="loan.is_watched"-->
                    <!--class="btn btn-danger btn-xs"-->
                    <!--ng-click="loan.is_watched = false; turnOffWatchList()"-->
                    <!--style="color: white;">-->
                    <!--<span>-->
                        <!--<span class="glyphicons glyphicons-sunglasses"></span>-->
                        <!--Watch List-->
                    <!--</span>-->
                <!--</button>-->
            <!--</div>-->
        </div>
        <br>

        <!--No Comment Place Holder-->
        <div ng-if="comments.length === 0">
            <b>No Comments Found!</b>
        </div>

        <!--Loan/Addendum Comment-->
        <div ng-repeat="c in comments.Loan">
            <div class="alert alert-default" role="alert">
                <h4>
                    <span class="glyphicons glyphicons-pencil"></span>
                    Loan Summary
                </h4>
                <hr/>
                <p style="font-size:11px;font-weight:bold;"><i>{{c.user.name}}</i>
                    &nbsp;&nbsp;-&nbsp;&nbsp;
                    <i>{{c.updated_at | date:'MM/dd/yy'}}</i>
                </p>

                <p>{{c.comment}}</p>
            </div>
        </div>

        <!--WatchList Comment-->
        <div ng-if="comments.Watch.length > 0">
            <div ng-repeat="c in comments.Watch">
                <div class="alert alert-danger" role="alert">
                    <div style="position: relative;">
                        <h4><span class="glyphicons glyphicons-sunglasses"></span>
                            Watch List
                        </h4>
                        <hr/>
                        <p style="font-size:11px;font-weight:bold;"><i>{{c.user.name}}</i>
                            &nbsp;&nbsp;-&nbsp;&nbsp;
                            <i>{{c.updated_at | date:'MM/dd/yy'}}</i>
                        </p>

                        <p>{{c.comment}}</p>
                    </div>
                    <div ng-if="c.responses">
                        <div class="alert alert-response" ng-repeat="res in c.responses | orderBy: 'created_at':true">
                            <p style="font-size:11px;font-weight:bold;"><i>{{res.user.username}}</i>
                                &nbsp;&nbsp;-&nbsp;&nbsp;
                                <i>{{res.created_at | date:'MM/dd/yy'}}</i>
                            </p>
                            <hr/>
                            <p>{{res.body}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Committee Comments-->
        <div ng-if="comments.Committee.length > 0">
            <div ng-repeat="c in comments.Committee">
                <div class="alert alert-info" role="alert">
                    <div style="position: relative;">
                        <h4><span class="glyphicons glyphicons-group"></span>
                            Committee Comment

                    <span class="ctrlButtons">
                        <span class="glyphicons glyphicons-unshare" tooltip="reply" style="color:#000;" ng-click="btnCommentReply(c)"></span>
                        <span ng-click="c.status = !c.status; btnCommentOk(c)" class="glyphicons glyphicons-check" style="color:#000;"  ng-if="c.status"></span>
                        <span ng-click="c.status = !c.status; btnCommentOk(c)" class="glyphicons glyphicons-unchecked" style="color:#000;" ng-if="!c.status"></span>
                              </span>
                        </h4>
                        <hr/>
                        <p style="font-size:11px;font-weight:bold;"><i>{{c.user.name}}</i>
                            &nbsp;&nbsp;-&nbsp;&nbsp;
                            <i>{{c.updated_at | date:'MM/dd/yy'}}</i>
                        </p>

                        <p>{{c.comment}}</p>
                    </div>
                    <div ng-if="c.responses">
                        <div class="alert alert-response" ng-repeat="res in c.responses | orderBy: 'created_at':true">
                            <p style="font-size:11px;font-weight:bold;"><i>{{res.user.name}}</i>
                                &nbsp;&nbsp;-&nbsp;&nbsp;
                                <i>{{res.created_at | date:'MM/dd/yy'}}</i>
                            </p>
                            <hr/>
                            <p>{{res.body}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Analyst Comments-->
        <div ng-if="comments.Analyst.length > 0">
            <div ng-repeat="c in comments.Analyst">
                <div class="alert alert-warning" role="alert">
                    <div style="position: relative;">
                        <h4><span class="glyphicons glyphicons-user"></span>
                            Analyst Comment
                        </h4>
                        <hr/>
                        <p style="font-size:11px;font-weight:bold;"><i>{{c.user.name}}</i>
                            &nbsp;&nbsp;-&nbsp;&nbsp;
                            <i>{{c.updated_at | date:'MM/dd/yy'}}</i>
                        </p>

                        <p>{{c.comment}}</p>
                    </div>
                    <div ng-if="c.responses">
                        <div class="alert alert-response" ng-repeat="res in c.responses | orderBy: 'created_at':true">
                            <p style="font-size:11px;font-weight:bold;"><i>{{res.user.username}}</i>
                                &nbsp;&nbsp;-&nbsp;&nbsp;
                                <i>{{res.created_at | date:'MM/dd/yy'}}</i>
                            </p>
                            <hr/>
                            <p>{{res.body}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Account Comments-->
        <div ng-if="comments.Account.length > 0">
            <div ng-repeat="c in comments.Account">
                <div class="alert alert-success" role="alert">
                    <div style="position: relative;">
                        <h4><span class="glyphicons glyphicons-usd"></span>
                            Disbursement Comment
                        </h4>
                        <hr/>
                        <p style="font-size:11px;font-weight:bold;"><i>{{c.user.name}}</i>
                            &nbsp;&nbsp;-&nbsp;&nbsp;
                            <i>{{c.updated_at | date:'MM/dd/yy'}}</i>
                        </p>

                        <p>{{c.comment}}</p>
                    </div>
                    <div ng-if="c.responses">
                        <div class="alert alert-response" ng-repeat="res in c.responses | orderBy: 'created_at':true">
                            <p style="font-size:11px;font-weight:bold;"><i>{{res.user.username}}</i>
                                &nbsp;&nbsp;-&nbsp;&nbsp;
                                <i>{{res.created_at | date:'MM/dd/yy'}}</i>
                            </p>
                            <hr/>
                            <p>{{res.body}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>