<div class="col-md-12">
    <table class="table">
        <tr style="background-color: black;">
            <th class="text-left" style="color: white;" colspan="17">LENDA Equalizer</th>
        </tr>
        <tr>
            <th>CF</th>
            <th>EX</th>
            <th>Corn</th>
            <th>Soybeans</th>
            <th>Soybeans FAC</th>
            <th>Sorghum</th>
            <th>Wheat</th>
            <th>Cotton</th>
            <th>Rice</th>
            <th>Peanuts</th>
            <th>Sugar Cane</th>
            <th>Sunflowers</th>
            <th>Budgeted Expenses</th>
            <th>Third Party</th>
            <th>Waivers</th>
            <th>Collateral</th>
            <th>Discounts</th>
        </tr>
    </table>
</div>