<tbody ng-repeat="lc in loan.loancrops" ng-init="crop_num = 6; crop_cnt = 5">

<!-- CROP NAME-->
    <tr>
        <td>
            <img src="images/open_btn.png" alt="" style="height:auto; width: 12px;"/>&nbsp;{{lc.crop.name}}
        </td>
        <td class="text-right cBlue"
            ng-repeat="f in loan.optimized">
            {{f.crops[crop_num].c_acres|number:1}}
        </td>
        <td class="text-right">
        </td>
    </tr>
</tbody>