<!-- CROP NAME-->
<tr>
    <td>
        <span
            ng-if="tggl.showCorn"
            ng-click="tggl.showCorn = !tggl.showCorn"
            style="cursor:pointer;">
            &blacktriangledown;&nbsp;
        </span>
        <span ng-if="!tggl.showCorn"
              ng-click="tggl.showCorn = !tggl.showCorn"
              style="cursor:pointer;">
            &blacktriangleright;&nbsp;
        </span>
        Corn
    </td>
    <td class="text-right cBlue"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].corn.acres|number:1}}
    </td>
    <td class="text-right">
        {{AppFactory.calcAcresByCrop('corn', loan)|number:1}}
    </td>
</tr>

<!-- SHARE OVERRIDE* -->
<tr class="clr-salmon"
    ng-if="tggl.showOverRentRows && tggl.showCorn">
    <td>Rent Override</td>
    <td class="text-right cBlue"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].corn.override|flexZeroPercent:1}}
    </td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.getTotalRentOvr('corn', loan))">
        {{OptimizerFactory.getTotalRentOvr('corn', loan)|flexPercent:1}}
    </td>
</tr>

<!-- INSURANCE -->
<!-- APH*-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showCorn">
    <td>APH</td>
    <td class="text-right cBlue"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].corn.aph|number:1}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcAPHCrop('corn', loan))">
        {{OptimizerFactory.calcAPHCrop('corn', loan)|flexNumber:1}}
    </td>
</tr>
<!-- INS TYPE-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_type && tggl.showCorn">
    <td>Ins Type</td>
    <td class="text-center"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].corn.ins_type}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- INS OPTS-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_opts && tggl.showCorn">
    <td>Ins Options</td>
    <td class="text-center"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].corn.ins_opts}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- INS PRICE*-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_price && tggl.showCorn">
    <td>Ins Price</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].corn.ins_price)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].corn.ins_price|flexCurrency:4}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcInsPriceCrop('corn', loan))">
        {{OptimizerFactory.calcInsPriceCrop('corn', loan)|flexNumber:1}}
    </td>
</tr>
<!-- INS LEVEL*-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_level && tggl.showCorn">
    <td>Ins Level</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].corn.ins_level)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].corn.ins_level|flexPercent:1}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcInsLevelCrop('corn', loan))">
        {{OptimizerFactory.calcInsLevelCrop('corn', loan)|flexNumber:1}}
    </td>
</tr>
<!-- MPCI-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_guarantee && tggl.showCorn">
    <td>MPCI</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcMPCI(f.crops[0].corn))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcMPCI(f.crops[0].corn)|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- INS PREMIUM-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_premium && tggl.showCorn">
    <td>Ins Premium</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].corn.ins_premium)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].corn.ins_premium|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- INS SHARE*-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_share && tggl.showCorn">
    <td>Ins Share</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].corn.ins_share)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].corn.ins_share|flexPercent:1}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcInsShareCrop('corn', loan))">
        {{OptimizerFactory.calcInsShareCrop('corn', loan)|flexNumber:1}}
    </td>
</tr>
<!-- INS VALUE*-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_value && tggl.showCorn">
    <td>Ins Value</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcInsValue(f.crops[0].corn))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcInsValue(f.crops[0].corn)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcInsValueCrop('corn', loan))">
        {{OptimizerFactory.calcInsValueCrop('corn', loan)|flexNumber:1}}
    </td>
</tr>
<!-- SUP COVERAGE-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showCorn">
    <td>Sup Coverage</td>
    <td class="text-center"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].corn.ins_opts}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- LOSS TRIGGER-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showCorn">
    <td>Loss Trigger</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].corn.loss_trigger)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].corn.loss_trigger|flexPercent:0}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- COV RANGE-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showCorn">
    <td>Cov Range</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].corn.cov_range)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].corn.cov_range|flexPercent:0}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- PROT FACTOR-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showCorn">
    <td>Prot Factor</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].corn.prot_factor)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].corn.prot_factor|flexPercent:0}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- EXP YIELD-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showCorn">
    <td>Exp Yield</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].corn.exp_yield)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].corn.exp_yield|number:1}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- EXP REVENUE-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showCorn">
    <td>Exp Revenue</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcExpRev(f.crops[0].corn))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcExpRev(f.crops[0].corn)|flexCurrency:0}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- SUP MAX*-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.sco_max && tggl.showCorn">
    <td>Sup Max</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcSupMax(f.crops[0].corn))"
        ng-repeat="f in loan.farmunits">
                            <span ng-if="f.crops[0].corn.cov_err_check <= 90">
                            {{OptimizerFactory.calcSupMax(f.crops[0].corn)|flexCurrency:2}}
                            </span>
                            <span ng-if="f.crops[0].corn.cov_err_check > 90" class="cRed">
                                cov>90%
                            </span>
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcSupMaxCrop('corn', loan))">
        {{OptimizerFactory.calcSupMaxCrop('corn', loan)|flexNumber:1}}
    </td>
</tr>

<!-- CASH FLOW -->
<!-- PROD YIELD*-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showCorn">
    <td>Prod Yield</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].corn.prod_yield)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].corn.prod_yield|number:1}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcProdYieldCrop('corn', loan))">
        {{OptimizerFactory.calcProdYieldCrop('corn', loan)|flexNumber:1}}
    </td>
</tr>
<!-- PROD SHARE*-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showCorn">
    <td>Prod Share</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].corn.prod_share)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].corn.prod_share|flexPercent:1}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcProdShareCrop('corn', loan))">
        {{OptimizerFactory.calcProdShareCrop('corn', loan)|flexNumber:1}}
    </td>
</tr>
<!-- PROD PRICE-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showCorn">
    <td>Prod Price</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].corn.prod_price)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].corn.prod_price|flexCurrency:4}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- VAR HARVEST-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showCorn">
    <td>Var Harvest</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].corn.var_harvst)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].corn.var_harvst|flexCurrency:4}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- REBATES-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showCorn">
    <td>Rebate</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].corn.rebate)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].corn.rebate|flexCurrency:4}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- PROD REV*-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showCorn">
    <td>Prod Rev</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcProdRev(f.crops[0].corn))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcProdRev(f.crops[0].corn)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcProdRevCrop('corn', loan))">
        {{OptimizerFactory.calcProdRevCrop('corn', loan)|flexNumber:1}}
    </td>
</tr>
<!-- PROD REV ADJ*-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showCorn">
    <td>Prod Rev Adj</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcProdRevAdj(f.crops[0].corn))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcProdRevAdj(f.crops[0].corn)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcProdRevAdjCrop('corn', loan))">
        {{OptimizerFactory.calcProdRevAdjCrop('corn', loan)|flexNumber:1}}
    </td>
</tr>
<!-- ARM BUDGET-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showCorn">
    <td>ARM Budget</td>
    <td ng-class="AppFactory.gtZero(loan.fins.arm_crop_commit['corn'])"
        ng-repeat="f in loan.farmunits">
        {{loan.fins.arm_crop_commit['corn']|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- DIST BUDGET-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showCorn">
    <td>Dist Budget</td>
    <td ng-class="AppFactory.gtZero(loan.fins.dist_crop_commit['corn'])"
        ng-repeat="f in loan.farmunits">
        {{loan.fins.dist_crop_commit['corn']|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- 3P BUDGET-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showCorn">
    <td>3P Budget</td>
    <td ng-class="AppFactory.gtZero(loan.fins.other_crop_commit['corn'])"
        ng-repeat="f in loan.farmunits">
        {{loan.fins.other_crop_commit['corn']|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- ARM FEE-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showCorn">
    <td>ARM Fee</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcFee('corn', loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcFee('corn', loan)|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- ARM COMMIT-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showCorn">
    <td>ARM Commit</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcArmCommit('corn', loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcArmCommit('corn', loan)|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- DIST COMMIT-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showCorn">
    <td>Dist Commit</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDistCommit('corn', loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDistCommit('corn', loan)|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- ARM INTEREST-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showCorn">
    <td>ARM Est Int</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcInterestARM(f.crops[0].corn, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcInterestARM(f.crops[0].corn, loan)|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- DIST INTEREST-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showCorn">
    <td>Dist Est Int</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcInterestDist(f.crops[0].corn, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcInterestDist(f.crops[0].corn, loan)|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- CASH FLOW*-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showCorn">
    <td>Cash Flow</td>
    <td class="text-right"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcCropCF(f.crops[0].corn, f, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcCashFlowCrop('corn', loan))">
        {{OptimizerFactory.calcCashFlowCrop('corn', loan)|flexNumber:1}}
    </td>
</tr>

<!-- EXPOSURE -->
<!-- DISC PROD REV*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showCorn">
    <td>Disc Prod Rev</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscProdRev(f.crops[0].corn, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscProdRev(f.crops[0].corn, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcDiscProdRevCrop('corn', loan))">
        {{OptimizerFactory.calcDiscProdRevCrop('corn', loan)|flexNumber:1}}
    </td>
</tr>
<!-- DISC PROD REV ADJ*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showCorn">
    <td>Disc Prod Rev Adj</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscProdRevAdj(f.crops[0].corn, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscProdRevAdj(f.crops[0].corn, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcDiscProdRevAdjCrop('corn', loan))">
        {{OptimizerFactory.calcDiscProdRevAdjCrop('corn', loan)|flexNumber:1}}
    </td>
</tr>
<!-- INS>DISC PROD REV*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showCorn">
    <td>Ins>Disc Prod Rev</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscInsOverCrop(f.crops[0].corn, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscInsOverCrop(f.crops[0].corn, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcInsDiscProdRevCrop('corn', loan))">
        {{OptimizerFactory.calcInsDiscProdRevCrop('corn', loan)|flexNumber:1}}
    </td>
</tr>
<!-- DISC INSURANCE*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showCorn">
    <td>Disc Ins</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscIns(f.crops[0].corn, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscIns(f.crops[0].corn, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcDiscInsCrop('corn', loan))">
        {{OptimizerFactory.calcDiscInsCrop('corn', loan)|flexNumber:1}}
    </td>
</tr>
<!-- DISC SCO*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showCorn">
    <td>Disc SCO</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscSCO(f.crops[0].corn, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscSCO(f.crops[0].corn, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcDiscSCOCrop('corn', loan))">
        {{OptimizerFactory.calcDiscSCOCrop('corn', loan)|flexNumber:1}}
    </td>
</tr>
<!-- DISC FSA*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showCorn">
    <td>Disc FSA</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscFSA(f.crops[0].corn, f, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscFSA(f.crops[0].corn, f, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcDiscFSACrop('corn', loan))">
        {{OptimizerFactory.calcDiscFSACrop('corn', loan)|flexNumber:1}}
    </td>
</tr>
<!-- DISC COLLATERAL*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showCorn">
    <td>Disc Collateral</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscCollateral(f.crops[0].corn, f, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscCollateral(f.crops[0].corn, f, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcDiscCollateralCrop('corn', loan))">
        {{OptimizerFactory.calcDiscCollateralCrop('corn', loan)|flexNumber:1}}
    </td>
</tr>
<!-- EXPOSURE*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showCorn">
    <td>Exposure</td>
    <td class="text-right"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcExposure(f.crops[0].corn, f, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcExposureCrop('corn', loan))">
        {{OptimizerFactory.calcExposureCrop('corn', loan)|flexNumber:1}}
    </td>
</tr>