<!-- CROP NAME-->
<tr>
    <td>
        <span
            ng-if="tggl.showPeanuts"
            ng-click="tggl.showPeanuts = !tggl.showPeanuts"
            style="cursor:pointer;">
            &blacktriangledown;&nbsp;
        </span>
        <span ng-if="!tggl.showPeanuts"
              ng-click="tggl.showPeanuts = !tggl.showPeanuts"
              style="cursor:pointer;">
            &blacktriangleright;&nbsp;
        </span>
        Peanuts
    </td>
    <td class="text-right cBlue"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].peanuts.acres|number:1}}
    </td>
    <td class="text-right">
        {{AppFactory.calcAcresByCrop('peanuts', loan)|number:1}}
    </td>
</tr>

<!-- SHARE OVERRIDE* -->
<tr class="clr-salmon"
    ng-if="tggl.showOverRentRows && tggl.showPeanuts">
    <td>Rent Override</td>
    <td class="text-right cBlue"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].peanuts.override|flexZeroPercent:1}}
    </td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.getTotalRentOvr('peanuts', loan))">
        {{OptimizerFactory.getTotalRentOvr('peanuts', loan)|flexPercent:1}}
    </td>
</tr>

<!-- INSURANCE -->
<!-- APH*-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showPeanuts">
    <td>APH</td>
    <td class="text-right cBlue"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].peanuts.aph|number:1}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcAPHCrop('peanuts', loan))">
        {{OptimizerFactory.calcAPHCrop('peanuts', loan)|flexNumber:1}}
    </td>
</tr>
<!-- INS TYPE-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_type && tggl.showPeanuts">
    <td>Ins Type</td>
    <td class="text-center"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].peanuts.ins_type}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- INS OPTS-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_opts && tggl.showPeanuts">
    <td>Ins Options</td>
    <td class="text-center"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].peanuts.ins_opts}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- INS PRICE*-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_price && tggl.showPeanuts">
    <td>Ins Price</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].peanuts.ins_price)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].peanuts.ins_price|flexCurrency:4}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcInsPriceCrop('peanuts', loan))">
        {{OptimizerFactory.calcInsPriceCrop('peanuts', loan)|flexNumber:1}}
    </td>
</tr>
<!-- INS LEVEL*-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_level && tggl.showPeanuts">
    <td>Ins Level</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].peanuts.ins_level)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].peanuts.ins_level|flexPercent:1}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcInsLevelCrop('peanuts', loan))">
        {{OptimizerFactory.calcInsLevelCrop('peanuts', loan)|flexNumber:1}}
    </td>
</tr>
<!-- MPCI-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_guarantee && tggl.showPeanuts">
    <td>MPCI</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcMPCI(f.crops[0].peanuts))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcMPCI(f.crops[0].peanuts)|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- INS PREMIUM-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_premium && tggl.showPeanuts">
    <td>Ins Premium</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].peanuts.ins_premium)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].peanuts.ins_premium|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- INS SHARE*-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_share && tggl.showPeanuts">
    <td>Ins Share</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].peanuts.ins_share)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].peanuts.ins_share|flexPercent:1}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcInsShareCrop('peanuts', loan))">
        {{OptimizerFactory.calcInsShareCrop('peanuts', loan)|flexNumber:1}}
    </td>
</tr>
<!-- INS VALUE*-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_value && tggl.showPeanuts">
    <td>Ins Value</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcInsValue(f.crops[0].peanuts))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcInsValue(f.crops[0].peanuts)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcInsValueCrop('peanuts', loan))">
        {{OptimizerFactory.calcInsValueCrop('peanuts', loan)|flexNumber:1}}
    </td>
</tr>
<!-- SUP COVERAGE-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showPeanuts">
    <td>Sup Coverage</td>
    <td class="text-center"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].peanuts.ins_opts}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- LOSS TRIGGER-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showPeanuts">
    <td>Loss Trigger</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].peanuts.loss_trigger)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].peanuts.loss_trigger|flexPercent:0}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- COV RANGE-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showPeanuts">
    <td>Cov Range</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].peanuts.cov_range)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].peanuts.cov_range|flexPercent:0}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- PROT FACTOR-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showPeanuts">
    <td>Prot Factor</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].peanuts.prot_factor)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].peanuts.prot_factor|flexPercent:0}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- EXP YIELD-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showPeanuts">
    <td>Exp Yield</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].peanuts.exp_yield)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].peanuts.exp_yield|number:1}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- EXP REVENUE-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showPeanuts">
    <td>Exp Revenue</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcExpRev(f.crops[0].peanuts))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcExpRev(f.crops[0].peanuts)|flexCurrency:0}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- SUP MAX*-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.sco_max && tggl.showPeanuts">
    <td>Sup Max</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcSupMax(f.crops[0].peanuts))"
        ng-repeat="f in loan.farmunits">
                            <span ng-if="f.crops[0].peanuts.cov_err_check <= 90">
                            {{OptimizerFactory.calcSupMax(f.crops[0].peanuts)|flexCurrency:2}}
                            </span>
                            <span ng-if="f.crops[0].peanuts.cov_err_check > 90" class="cRed">
                                cov>90%
                            </span>
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcSupMaxCrop('peanuts', loan))">
        {{OptimizerFactory.calcSupMaxCrop('peanuts', loan)|flexNumber:1}}
    </td>
</tr>

<!-- CASH FLOW -->
<!-- PROD YIELD*-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showPeanuts">
    <td>Prod Yield</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].peanuts.prod_yield)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].peanuts.prod_yield|number:1}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcProdYieldCrop('peanuts', loan))">
        {{OptimizerFactory.calcProdYieldCrop('peanuts', loan)|flexNumber:1}}
    </td>
</tr>
<!-- PROD SHARE*-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showPeanuts">
    <td>Prod Share</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].peanuts.prod_share)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].peanuts.prod_share|flexPercent:1}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcProdShareCrop('peanuts', loan))">
        {{OptimizerFactory.calcProdShareCrop('peanuts', loan)|flexNumber:1}}
    </td>
</tr>
<!-- PROD PRICE-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showPeanuts">
    <td>Prod Price</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].peanuts.prod_price)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].peanuts.prod_price|flexCurrency:4}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- VAR HARVEST-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showPeanuts">
    <td>Var Harvest</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].peanuts.var_harvst)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].peanuts.var_harvst|flexCurrency:4}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- REBATES-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showPeanuts">
    <td>Rebate</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].peanuts.rebate)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].peanuts.rebate|flexCurrency:4}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- PROD REV*-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showPeanuts">
    <td>Prod Rev</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcProdRev(f.crops[0].peanuts))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcProdRev(f.crops[0].peanuts)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcProdRevCrop('peanuts', loan))">
        {{OptimizerFactory.calcProdRevCrop('peanuts', loan)|flexNumber:1}}
    </td>
</tr>
<!-- PROD REV ADJ*-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showPeanuts">
    <td>Prod Rev Adj</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcProdRevAdj(f.crops[0].peanuts))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcProdRevAdj(f.crops[0].peanuts)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcProdRevAdjCrop('peanuts', loan))">
        {{OptimizerFactory.calcProdRevAdjCrop('peanuts', loan)|flexNumber:1}}
    </td>
</tr>
<!-- ARM BUDGET-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showPeanuts">
    <td>ARM Budget</td>
    <td ng-class="AppFactory.gtZero(loan.fins.arm_crop_commit['peanuts'])"
        ng-repeat="f in loan.farmunits">
        {{loan.fins.arm_crop_commit['peanuts']|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- DIST BUDGET-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showPeanuts">
    <td>Dist Budget</td>
    <td ng-class="AppFactory.gtZero(loan.fins.dist_crop_commit['peanuts'])"
        ng-repeat="f in loan.farmunits">
        {{loan.fins.dist_crop_commit['peanuts']|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- 3P BUDGET-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showPeanuts">
    <td>3P Budget</td>
    <td ng-class="AppFactory.gtZero(loan.fins.other_crop_commit['peanuts'])"
        ng-repeat="f in loan.farmunits">
        {{loan.fins.other_crop_commit['peanuts']|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- ARM FEE-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showPeanuts">
    <td>ARM Fee</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcFee('peanuts', loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcFee('peanuts', loan)|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- ARM COMMIT-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showPeanuts">
    <td>ARM Commit</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcArmCommit('peanuts', loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcArmCommit('peanuts', loan)|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- DIST COMMIT-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showPeanuts">
    <td>Dist Commit</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDistCommit('peanuts', loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDistCommit('peanuts', loan)|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- ARM INTEREST-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showPeanuts">
    <td>ARM Est Int</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcInterestARM(f.crops[0].peanuts, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcInterestARM(f.crops[0].peanuts, loan)|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- DIST INTEREST-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showPeanuts">
    <td>Dist Est Int</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcInterestDist(f.crops[0].peanuts, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcInterestDist(f.crops[0].peanuts, loan)|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- CASH FLOW*-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showPeanuts">
    <td>Cash Flow</td>
    <td class="text-right"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcCropCF(f.crops[0].peanuts, f, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcCashFlowCrop('peanuts', loan))">
        {{OptimizerFactory.calcCashFlowCrop('peanuts', loan)|flexNumber:1}}
    </td>
</tr>

<!-- EXPOSURE -->
<!-- DISC PROD REV*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showPeanuts">
    <td>Disc Prod Rev</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscProdRev(f.crops[0].peanuts, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscProdRev(f.crops[0].peanuts, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcDiscProdRevCrop('peanuts', loan))">
        {{OptimizerFactory.calcDiscProdRevCrop('peanuts', loan)|flexNumber:1}}
    </td>
</tr>
<!-- DISC PROD REV ADJ*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showPeanuts">
    <td>Disc Prod Rev Adj</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscProdRevAdj(f.crops[0].peanuts, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscProdRevAdj(f.crops[0].peanuts, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcDiscProdRevAdjCrop('peanuts', loan))">
        {{OptimizerFactory.calcDiscProdRevAdjCrop('peanuts', loan)|flexNumber:1}}
    </td>
</tr>
<!-- INS>DISC PROD REV*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showPeanuts">
    <td>Ins>Disc Prod Rev</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscInsOverCrop(f.crops[0].peanuts, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscInsOverCrop(f.crops[0].peanuts, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcInsDiscProdRevCrop('peanuts', loan))">
        {{OptimizerFactory.calcInsDiscProdRevCrop('peanuts', loan)|flexNumber:1}}
    </td>
</tr>
<!-- DISC INSURANCE*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showPeanuts">
    <td>Disc Ins</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscIns(f.crops[0].peanuts, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscIns(f.crops[0].peanuts, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcDiscInsCrop('peanuts', loan))">
        {{OptimizerFactory.calcDiscInsCrop('peanuts', loan)|flexNumber:1}}
    </td>
</tr>
<!-- DISC SCO*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showPeanuts">
    <td>Disc SCO</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscSCO(f.crops[0].peanuts, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscSCO(f.crops[0].peanuts, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcDiscSCOCrop('peanuts', loan))">
        {{OptimizerFactory.calcDiscSCOCrop('peanuts', loan)|flexNumber:1}}
    </td>
</tr>
<!-- DISC FSA*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showPeanuts">
    <td>Disc FSA</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscFSA(f.crops[0].peanuts, f, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscFSA(f.crops[0].peanuts, f, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcDiscFSACrop('peanuts', loan))">
        {{OptimizerFactory.calcDiscFSACrop('peanuts', loan)|flexNumber:1}}
    </td>
</tr>
<!-- DISC COLLATERAL*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showPeanuts">
    <td>Disc Collateral</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscCollateral(f.crops[0].peanuts, f, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscCollateral(f.crops[0].peanuts, f, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcDiscCollateralCrop('peanuts', loan))">
        {{OptimizerFactory.calcDiscCollateralCrop('peanuts', loan)|flexNumber:1}}
    </td>
</tr>
<!-- EXPOSURE*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showPeanuts">
    <td>Exposure</td>
    <td class="text-right"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcExposure(f.crops[0].peanuts, f, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcExposureCrop('peanuts', loan))">
        {{OptimizerFactory.calcExposureCrop('peanuts', loan)|flexNumber:1}}
    </td>
</tr>