<!-- CROP NAME-->
<tr>
    <td>
                <span
                    ng-if="tggl.showSugarcane"
                    ng-click="tggl.showSugarcane = !tggl.showSugarcane"
                    style="cursor:pointer;">
                    &blacktriangledown;&nbsp;
                </span>
                <span ng-if="!tggl.showSugarcane"
                      ng-click="tggl.showSugarcane = !tggl.showSugarcane"
                      style="cursor:pointer;">
                    &blacktriangleright;&nbsp;
                </span>
        Sugar Cane
    </td>
    <td class="text-right cBlue"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].sugarcane.acres|number:1}}
    </td>
    <td class="text-right">
        {{AppFactory.calcAcresByCrop('sugarcane', loan)|number:1}}
    </td>
</tr>

<!-- SHARE OVERRIDE* -->
<tr class="clr-salmon"
    ng-if="tggl.showOverRentRows && tggl.showSugarcane">
    <td>Rent Override</td>
    <td class="text-right cBlue"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].sugarcane.override|flexZeroPercent:1}}
    </td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.getTotalRentOvr('sugarcane', loan))">
        {{OptimizerFactory.getTotalRentOvr('sugarcane', loan)|flexPercent:1}}
    </td>
</tr>

<!-- INSURANCE -->
<!-- APH*-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showSugarcane">
    <td>APH</td>
    <td class="text-right cBlue"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].sugarcane.aph|number:1}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcAPHCrop('sugarcane', loan))">
        {{OptimizerFactory.calcAPHCrop('sugarcane', loan)|flexNumber:1}}
    </td>
</tr>
<!-- INS TYPE-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_type && tggl.showSugarcane">
    <td>Ins Type</td>
    <td class="text-center"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].sugarcane.ins_type}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- INS OPTS-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_opts && tggl.showSugarcane">
    <td>Ins Options</td>
    <td class="text-center"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].sugarcane.ins_opts}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- INS PRICE*-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_price && tggl.showSugarcane">
    <td>Ins Price</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].sugarcane.ins_price)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].sugarcane.ins_price|flexCurrency:4}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcInsPriceCrop('sugarcane', loan))">
        {{OptimizerFactory.calcInsPriceCrop('sugarcane', loan)|flexNumber:1}}
    </td>
</tr>
<!-- INS LEVEL*-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_level && tggl.showSugarcane">
    <td>Ins Level</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].sugarcane.ins_level)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].sugarcane.ins_level|flexPercent:1}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcInsLevelCrop('sugarcane', loan))">
        {{OptimizerFactory.calcInsLevelCrop('sugarcane', loan)|flexNumber:1}}
    </td>
</tr>
<!-- MPCI-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_guarantee && tggl.showSugarcane">
    <td>MPCI</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcMPCI(f.crops[0].sugarcane))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcMPCI(f.crops[0].sugarcane)|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- INS PREMIUM-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_premium && tggl.showSugarcane">
    <td>Ins Premium</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].sugarcane.ins_premium)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].sugarcane.ins_premium|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- INS SHARE*-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_share && tggl.showSugarcane">
    <td>Ins Share</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].sugarcane.ins_share)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].sugarcane.ins_share|flexPercent:1}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcInsShareCrop('sugarcane', loan))">
        {{OptimizerFactory.calcInsShareCrop('sugarcane', loan)|flexNumber:1}}
    </td>
</tr>
<!-- INS VALUE*-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.ins_value && tggl.showSugarcane">
    <td>Ins Value</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcInsValue(f.crops[0].sugarcane))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcInsValue(f.crops[0].sugarcane)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcInsValueCrop('sugarcane', loan))">
        {{OptimizerFactory.calcInsValueCrop('sugarcane', loan)|flexNumber:1}}
    </td>
</tr>
<!-- SUP COVERAGE-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showSugarcane">
    <td>Sup Coverage</td>
    <td class="text-center"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].sugarcane.ins_opts}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- LOSS TRIGGER-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showSugarcane">
    <td>Loss Trigger</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].sugarcane.loss_trigger)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].sugarcane.loss_trigger|flexPercent:0}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- COV RANGE-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showSugarcane">
    <td>Cov Range</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].sugarcane.cov_range)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].sugarcane.cov_range|flexPercent:0}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- PROT FACTOR-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showSugarcane">
    <td>Prot Factor</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].sugarcane.prot_factor)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].sugarcane.prot_factor|flexPercent:0}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- EXP YIELD-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showSugarcane">
    <td>Exp Yield</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].sugarcane.exp_yield)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].sugarcane.exp_yield|number:1}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- EXP REVENUE-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && tggl.showSugarcane">
    <td>Exp Revenue</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcExpRev(f.crops[0].sugarcane))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcExpRev(f.crops[0].sugarcane)|flexCurrency:0}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- SUP MAX*-->
<tr class="clr-liteblue"
    ng-if="tggl.showInsRows && user.optimopts.sco_max && tggl.showSugarcane">
    <td>Sup Max</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcSupMax(f.crops[0].sugarcane))"
        ng-repeat="f in loan.farmunits">
                            <span ng-if="f.crops[0].sugarcane.cov_err_check <= 90">
                            {{OptimizerFactory.calcSupMax(f.crops[0].sugarcane)|flexCurrency:2}}
                            </span>
                            <span ng-if="f.crops[0].sugarcane.cov_err_check > 90" class="cRed">
                                cov>90%
                            </span>
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcSupMaxCrop('sugarcane', loan))">
        {{OptimizerFactory.calcSupMaxCrop('sugarcane', loan)|flexNumber:1}}
    </td>
</tr>

<!-- CASH FLOW -->
<!-- PROD YIELD*-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showSugarcane">
    <td>Prod Yield</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].sugarcane.prod_yield)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].sugarcane.prod_yield|number:1}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcProdYieldCrop('sugarcane', loan))">
        {{OptimizerFactory.calcProdYieldCrop('sugarcane', loan)|flexNumber:1}}
    </td>
</tr>
<!-- PROD SHARE*-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showSugarcane">
    <td>Prod Share</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].sugarcane.prod_share)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].sugarcane.prod_share|flexPercent:1}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcProdShareCrop('sugarcane', loan))">
        {{OptimizerFactory.calcProdShareCrop('sugarcane', loan)|flexNumber:1}}
    </td>
</tr>
<!-- PROD PRICE-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showSugarcane">
    <td>Prod Price</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].sugarcane.prod_price)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].sugarcane.prod_price|flexCurrency:4}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- VAR HARVEST-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showSugarcane">
    <td>Var Harvest</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].sugarcane.var_harvst)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].sugarcane.var_harvst|flexCurrency:4}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- REBATES-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showSugarcane">
    <td>Rebate</td>
    <td ng-class="AppFactory.gtZero(f.crops[0].sugarcane.rebate)"
        ng-repeat="f in loan.farmunits">
        {{f.crops[0].sugarcane.rebate|flexCurrency:4}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- PROD REV*-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showSugarcane">
    <td>Prod Rev</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcProdRev(f.crops[0].sugarcane))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcProdRev(f.crops[0].sugarcane)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcProdRevCrop('sugarcane', loan))">
        {{OptimizerFactory.calcProdRevCrop('sugarcane', loan)|flexNumber:1}}
    </td>
</tr>
<!-- PROD REV ADJ*-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showSugarcane">
    <td>Prod Rev Adj</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcProdRevAdj(f.crops[0].sugarcane))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcProdRevAdj(f.crops[0].sugarcane)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcProdRevAdjCrop('sugarcane', loan))">
        {{OptimizerFactory.calcProdRevAdjCrop('sugarcane', loan)|flexNumber:1}}
    </td>
</tr>
<!-- ARM BUDGET-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showSugarcane">
    <td>ARM Budget</td>
    <td ng-class="AppFactory.gtZero(loan.fins.arm_crop_commit['sugarcane'])"
        ng-repeat="f in loan.farmunits">
        {{loan.fins.arm_crop_commit['sugarcane']|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- DIST BUDGET-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showSugarcane">
    <td>Dist Budget</td>
    <td ng-class="AppFactory.gtZero(loan.fins.dist_crop_commit['sugarcane'])"
        ng-repeat="f in loan.farmunits">
        {{loan.fins.dist_crop_commit['sugarcane']|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- 3P BUDGET-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showSugarcane">
    <td>3P Budget</td>
    <td ng-class="AppFactory.gtZero(loan.fins.other_crop_commit['sugarcane'])"
        ng-repeat="f in loan.farmunits">
        {{loan.fins.other_crop_commit['sugarcane']|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- ARM FEE-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showSugarcane">
    <td>ARM Fee</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcFee('sugarcane', loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcFee('sugarcane', loan)|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- ARM COMMIT-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showSugarcane">
    <td>ARM Commit</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcArmCommit('sugarcane', loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcArmCommit('sugarcane', loan)|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- DIST COMMIT-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showSugarcane">
    <td>Dist Commit</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDistCommit('sugarcane', loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDistCommit('sugarcane', loan)|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- ARM INTEREST-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showSugarcane">
    <td>ARM Est Int</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcInterestARM(f.crops[0].sugarcane, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcInterestARM(f.crops[0].sugarcane, loan)|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- DIST INTEREST-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showSugarcane">
    <td>Dist Est Int</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcInterestDist(f.crops[0].sugarcane, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcInterestDist(f.crops[0].sugarcane, loan)|flexCurrency:2}}
    </td>
    <td>&nbsp;</td>
</tr>
<!-- CASH FLOW*-->
<tr class="clr-litegreen"
    ng-if="tggl.showCFRows && tggl.showSugarcane">
    <td>Cash Flow</td>
    <td class="text-right"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcCropCF(f.crops[0].sugarcane, f, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcCashFlowCrop('sugarcane', loan))">
        {{OptimizerFactory.calcCashFlowCrop('sugarcane', loan)|flexNumber:1}}
    </td>
</tr>

<!-- EXPOSURE -->
<!-- DISC PROD REV*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showSugarcane">
    <td>Disc Prod Rev</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscProdRev(f.crops[0].sugarcane, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscProdRev(f.crops[0].sugarcane, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcDiscProdRevCrop('sugarcane', loan))">
        {{OptimizerFactory.calcDiscProdRevCrop('sugarcane', loan)|flexNumber:1}}
    </td>
</tr>
<!-- DISC PROD REV ADJ*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showSugarcane">
    <td>Disc Prod Rev Adj</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscProdRevAdj(f.crops[0].sugarcane, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscProdRevAdj(f.crops[0].sugarcane, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcDiscProdRevAdjCrop('sugarcane', loan))">
        {{OptimizerFactory.calcDiscProdRevAdjCrop('sugarcane', loan)|flexNumber:1}}
    </td>
</tr>
<!-- INS>DISC PROD REV*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showSugarcane">
    <td>Ins>Disc Prod Rev</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscInsOverCrop(f.crops[0].sugarcane, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscInsOverCrop(f.crops[0].sugarcane, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcInsDiscProdRevCrop('sugarcane', loan))">
        {{OptimizerFactory.calcInsDiscProdRevCrop('sugarcane', loan)|flexNumber:1}}
    </td>
</tr>
<!-- DISC INSURANCE*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showSugarcane">
    <td>Disc Ins</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscIns(f.crops[0].sugarcane, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscIns(f.crops[0].sugarcane, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcDiscInsCrop('sugarcane', loan))">
        {{OptimizerFactory.calcDiscInsCrop('sugarcane', loan)|flexNumber:1}}
    </td>
</tr>
<!-- DISC SCO*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showSugarcane">
    <td>Disc SCO</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscSCO(f.crops[0].sugarcane, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscSCO(f.crops[0].sugarcane, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcDiscSCOCrop('sugarcane', loan))">
        {{OptimizerFactory.calcDiscSCOCrop('sugarcane', loan)|flexNumber:1}}
    </td>
</tr>
<!-- DISC FSA*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showSugarcane">
    <td>Disc FSA</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscFSA(f.crops[0].sugarcane, f, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscFSA(f.crops[0].sugarcane, f, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcDiscFSACrop('sugarcane', loan))">
        {{OptimizerFactory.calcDiscFSACrop('sugarcane', loan)|flexNumber:1}}
    </td>
</tr>
<!-- DISC COLLATERAL*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showSugarcane">
    <td>Disc Collateral</td>
    <td ng-class="AppFactory.gtZero(OptimizerFactory.calcDiscCollateral(f.crops[0].sugarcane, f, loan))"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcDiscCollateral(f.crops[0].sugarcane, f, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcDiscCollateralCrop('sugarcane', loan))">
        {{OptimizerFactory.calcDiscCollateralCrop('sugarcane', loan)|flexNumber:1}}
    </td>
</tr>
<!-- EXPOSURE*-->
<tr class="clr-goldenrod"
    ng-if="tggl.showEXRows && tggl.showSugarcane">
    <td>Exposure</td>
    <td class="text-right"
        ng-repeat="f in loan.farmunits">
        {{OptimizerFactory.calcExposure(f.crops[0].sugarcane, f, loan)|flexCurrency:2}}
    </td>
    <td ng-class="OptimizerFactory.gtZero(AppFactory.calcExposureCrop('sugarcane', loan))">
        {{OptimizerFactory.calcExposureCrop('sugarcane', loan)|flexNumber:1}}
    </td>
</tr>