<style>
    .totaline td {
        border-top: 1px solid #333333 !important;
        border-bottom: 1px solid #333333 !important;
    }
</style>
<fieldset>
    <legend>Optimizer [ <span class="glyphicons glyphicons-adjust-alt" ng-class="{cBlack: !alpine, cRed: alpine}" ng-click="alpine = !alpine"></span> ]</legend>
    <span ng-cloak>
        <div class="container row" style="min-height: 400px;" ng-if="alpine">
            <div ng-include="'./_modules/Loans/optimizer/_alpine.html'"></div>
        </div>
        <div class="row">
            <div ng-include="'./_modules/Loans/optimizer/_optimizer.html'"></div>
        </div>
    </span>
</fieldset>