<h3> &nbsp; Committee Comment</h3>
<div id="comcom">
    <!--table-zebra-stripes-->
    <table style="width:100%"><tr><td>
    <table class="table table-bordered table-condensed table-responsive rowed">
        <tbody ng-repeat="loan in loans | filter:query">
        <tr class="tbl-header-container">
            <th><br>Analyst</th>
            <th><br>Applicant</th>
            <th>Crop<br>Year</th>
            <th>Loan<br>Type</th>
            <th><br>Addendum</th>
            <th><br>Dist</th>
            <th><br>Agency</th>
            <!--<th><br>Vote</th>-->
            <th><br>Class</th>
        </tr>
        <tr>
            <td class="text-center">{{loan.analyst_abr}}</td>
            <td class="text-left">{{loan.applicant.applicant}}</td>
            <td class="text-center">{{loan.crop_year}}</td>
            <td class="text-center">{{loan.loantype_abr}}</td>
                <td class="text-center">
                    <div ng-if="loan.has_addendum">
                    {{loan.app_date}}
            </div>
                </td>
            <td class="text-center">{{loan.distributor.distributor}}</td>
            <td class="text-left">{{loan.agencies}}</td>
            <!--<td class="text-center"></td>-->
            <td class="text-center">{{loan.account_classification}}</td>
        </tr>
        <tr>
            <td class="text-left" colspan="9">
                <div class="container-fluid">
                    <!--No Comment Place Holder-->
                    <div ng-if="loan.parsedComments.length === 0">
                        <!--<b>No Comments Found!</b>-->
                    </div>

                    <!--Committee Comments-->
                    <div ng-if="loan.parsedComments.Committee.length > 0">
                        <div ng-repeat="c in loan.parsedComments.Committee">
                            <div class="alert alert-info" role="alert">
                                <div style="position: relative;">
                                    <h5><span class="glyphicon glyphicon-user"></span>
                                        Committee Comment
                                    </h5>
                                    <hr/>
                                    <p style="font-size:11px;font-weight:bold;"><i>{{c.user.name}}</i>
                                        &nbsp;&nbsp;-&nbsp;&nbsp;
                                        <i>{{c.updated_at | date:'MM/dd/yy'}}</i>
                                    </p>

                                    <p>{{c.comment}}</p>
                                </div>
                                <div ng-if="c.responses">
                                    <div class="alert alert-response"
                                         ng-repeat="res in c.responses | orderBy: 'created_at':true">
                                        <p style="font-size:11px;font-weight:bold;"><i>{{res.user.name}}</i>
                                            &nbsp;&nbsp;-&nbsp;&nbsp;
                                            <i>{{res.created_at | date:'MM/dd/yy'}}</i>
                                        </p>
                                        <hr/>
                                        <p>{{res.body}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
        <form>
            <span style="display:inline-block;float:left;"> &nbsp;
            <span ng-click="showToolPanel()"><img ng-src="images/control_panel.png" style="width:30px"> Control Panel </span>
            </span>
            <span style="display:inline-block;float:right;">
            <span ng-click=""><img ng-src="images/print.png" style="width:25px"> Print </span>
            <span ng-click=""><img ng-src="images/email.png" style="width:25px"> Email </span>
            <span ng-click=""><img ng-src="images/excel.jpg" style="width:25px"> Excel </span>
            <span ng-click=""><img ng-src="images/pdficon.png" style="width:25px"> PDF &nbsp; </span>
            </span>
        <span style="display:inline-block;float:left;position: absolute;top: 150px;right: 28px;">
        &nbsp; <input placeholder="Filter..." type="text" ng-model="query"/>
        </span>
            <br><br>
        </form>
        </td></tr></table>
</div>
<!--<pre>{{loans.parsedComments | json}}</pre>-->

