<table class="table table-striped rowed disp-sm">
    <tbody>
    <tr>
        <td colspan="5" style="width: 50%;">&nbsp</td>
        <td class="text-center" style="width:10%;">ARM</td>
        <td class="text-center" style="width:10%;" ng-if="loan.has_distributor">
            {{loan.distributor.distributor}}
        </td>
        <td class="text-center" style="width:10%;">Other</td>
        <td class="text-center" style="width:10%;">Total</td>
        <td style="width:80px;max-width:80px;">&nbsp;</td>
    </tr>

    <tr ng-repeat="e in cropuse" ng-init="!rowform.$visible" ng-dblclick="rowform.$show()">
        <td colspan="5">{{e[0].expense}}</td>
        <td class="text-right cBlue" ng-class=AppFactory.gtZero(e[0].calc_arm)>
            <span editable-number="e[0].calc_arm" e-name="calc_arm" e-form="rowform" e-style="width:100%;">
            	{{e[0].calc_arm|flexCurrency:0}}
            </span>
        </td>
        <td class="text-right cBlue" ng-class=AppFactory.gtZero(e[0].calc_dist)>
            <span editable-number="e[0].calc_dist" e-name="calc_dist" e-form="rowform" e-style="width:100%;">
            	{{e[0].calc_dist|flexCurrency:0}}
            </span>
        </td>
        <td class="text-right cBlue" ng-class=AppFactory.gtZero(e[0].calc_other)>
            <span editable-number="e[0].calc_other" e-name="calc_other" e-form="rowform" e-style="width:100%;">
            	{{e[0].calc_other|flexCurrency:0}}
            </span>
        </td>
        <td class="text-right" ng-class=AppFactory.gtZero(e[0].calc_total)>
            {{e[0].calc_total | flexCurrency:0 }}
        </td>
        <td class="text-center" style="width: 80px;">
            <!-- form -->
            <form  name="rowform" onbeforesave="saveFullFarm($data, p.id)" ng-show="rowform.$visible" class="form-buttons form-inline" editable-form="">
            	<button type="submit" ng-disabled="rowform.$waiting" style="border:  none !important; background-image: none !important; background-color: transparent;">
            		<span class="glyphicons glyphicons-circle-ok" style="color:#006837;"></span>
            	</button>
            	<span class="btnCancel" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()">
            		<span class="glyphicons glyphicons-circle-remove" style="color: #990000;"></span>
            	</span>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
                <!--&nbsp;-&nbsp;-->
            	<span class="glyphicons glyphicons-remove-2" style="display:none;color: #990000;" ng-click="deleteFullFarm($index, p.id)"></span>
            </div>
        </td>
    </tr>

    <!-- CROP EXPENSES -->
    <tr class="warning" style="display:none;">
        <td colspan="5">Crop Expenses</td>
        <td class="text-right" ng-class=AppFactory.gtZero(loan.expenses.totals.byLoan.arm)>
            {{loan.expenses.totals.byLoan.arm | flexCurrency:0 }}
        </td>
        <td class="text-right" ng-class=AppFactory.gtZero(loan.expenses.totals.byLoan.dist)>
            {{loan.expenses.totals.byLoan.dist | flexCurrency:0 }}
        </td>
        <td class="text-right" ng-class="AppFactory.gtZero(loan.expenses.totals.byLoan.other)">
            {{loan.expenses.totals.byLoan.other | flexCurrency:0 }}
        </td>
        <td class="text-right" ng-class="AppFactory.gtZero(loan.expenses.totals.byLoan.total)">
            {{loan.expenses.totals.byLoan.total | flexCurrency:0 }}
        </td>
    </tr>

    <!-- FARM EXPENSES -->
    <tr ng-repeat="fe in loan.farmexpenses" ng-init="!rowform2.$visible" ng-dblclick="rowform2.$show()">
        <td colspan="5" class="cBlue">
            <span editable-text="fe.expense" e-name="expense" e-form="rowform2" e-style="width:100%;">
            	{{fe.expense}}
            </span>
        </td>
        <td class="text-right cBlue">
            <span editable-number="fe.cost" e-name="cost" e-form="rowform2" e-style="width:100%;">
            	{{fe.cost|flexCurrency:0}}
            </span>
        </td>
        <td class="text-center"> -</td>
        <td class="text-center"> -</td>
        <td class="text-right">
            {{fe.cost|flexCurrency:0}}
        </td>
        <td class="text-center" style="width:80px;">
            <!-- form -->
            <form  name="rowform2" onbeforesave="saveFarmExpense($data, p.id)" ng-show="rowform2.$visible" class="form-buttons form-inline" editable-form="">
            	<button type="submit" ng-disabled="rowform2.$waiting" style="border:  none !important; background-image: none !important; background-color: transparent;">
            		<span class="glyphicons glyphicons-circle-ok" style="color:#006837;"></span>
            	</button>
            	<span class="btnCancel" ng-disabled="rowform2.$waiting" ng-click="rowform2.$cancel()">
            		<span class="glyphicons glyphicons-circle-remove" style="color: #990000;"></span>
            	</span>
            </form>
            <div class="buttons" ng-show="!rowform2.$visible">
            	<span class="glyphicons glyphicons-remove-2" style="color: #990000;" ng-click="deleteFarmExpense($index, p.id)"></span>
            </div>
        </td>
    </tr>

    <!-- SUMMARY OF FARM EXPENSES -->
    <tr class="warning" style="display: none;">
        <td colspan="5">
            Full Farm Expenses
        </td>
        <td class="text-right">
            {{AppFactory.calcTotalFarmExpenses(loan)|flexCurrency:0}}
        </td>
        <td class="text-center"> -</td>
        <td class="text-center"> -</td>
        <td class="text-right">
            {{AppFactory.calcTotalFarmExpenses(loan)|flexCurrency:0}}
        </td>
    </tr>

    <!-- FEES -->
    <tr style="display: none;">
        <td colspan="5">Fees and Other</td>
        <td class="text-right">
            {{loan.fins.fee_total|flexCurrency:0 }}
        </td>
        <td class="text-center" ng-if="loan.has_distributor"> -</td>
        <td class="text-center"> -</td>
        <td class="text-right">
            {{loan.fins.fee_total|flexCurrency:0 }}
        </td>
    </tr>

    <!-- PRINCIPAL -->
    <tr class="success">
        <td colspan="5" class="text-left">
            <strong>Total Budgeted Expenses</strong>
        </td>
        <td class="text-right">
            {{AppFactory.calcTotalArmAndFarmExpenses(loan)|flexCurrency:0}}
        </td>
        <td class="text-right" ng-class=gtZero(loan.expenses.totals.byLoan.dist)>
            {{loan.expenses.totals.byLoan.dist | flexCurrency:0 }}
        </td>
        <td class="text-right" ng-class=gtZero(loan.expenses.totals.byLoan.other)>
            {{loan.expenses.totals.byLoan.other | flexCurrency:0 }}
        </td>
        <td class="text-right">
            {{AppFactory.calcTotalExpenses(loan) | flexCurrency:0 }}
        </td>
        <td>&nbsp;</td>
    </tr>

    <!-- INTEREST -->
    <tr style="display:none;">
        <td colspan="5">Estimated Interest</td>
        <td class="text-right">
            {{loan.fins.int_arm|flexCurrency:0}}
        </td>
        <td class="text-right" ng-if="loan.has_distributor">
            {{loan.fins.int_dist|flexCurrency:0}}
        </td>
        <td class="text-center"> -</td>
        <td class="text-right">
            {{loan.fins.int_total|flexCurrency:0}}
        </td>
    </tr>

    <!-- CASH FLOW/DEFICIT -->
    <tr class="warning" style="display: none;">
        <td>Cash Flow (Deficit)</td>
        <td colspan="7" ng-if="loan.has_distributor">&nbsp;</td>
        <td colspan="6" ng-if="!loan.has_distributor">&nbsp;</td>
        <td class="text-right">
            {{AppFactory.calcCashFlow(loan) | flexCurrency:0 }}
        </td>
    </tr>
    </tbody>
</table>
    <p><a ng-click="AppFactory.createNewFarmExpense()" class="btn btn-xs btn-default">
        <span class="glyphicon glyphicon-plus-sign" style="color:#006837;"></span> Add New</a></p>
<!--<pre>{{cropuse|json}}</pre>-->
