<div class="frmFull_Page">
    <div class="row view-page-header-bar">
        <div class="col-md-12">
            <h5 style="display: inline;
                       font-size: 16px;
                       line-height: 30px">
                My Settings
            </h5>
            <span class="btn btn-sm btn-primary pull-right"
                  style="display: inline;" ng-click="updateSettings()">
                Update
            </span>
        </div>
    </div>

    <!--<pre>{{user.viewopts|json}}</pre>-->
    <div class="container" style="margin-top:10px;">
        <tabset>
            <!-- VIEW -->
            <tab heading="View">
                <!-- Optional Fields-->
                <div class="row">
                    <fieldset class="col-md-12" style="margin-top:18px;">
                        <legend>
                            &nbsp;
                            <span class="pendicon glyphicon glyphicon-chevron-right"
                                  ng-click="togShowViewOpts()"
                                  ng-if="!showViewOpts"></span>
                            <span class="pendicon glyphicon glyphicon-chevron-down"
                                  ng-click="togShowViewOpts()"
                                  ng-if="showViewOpts"></span>
                            &nbsp;
                            OPTIONAL DISPLAY FIELDS
                        </legend>
                        <div ng-if="showViewOpts">
                            <!--OPTIONAL FIELDS-->
                            <table class="table table-striped">
                                <tr>
                                    <td colspan="3">
                                        <label>Loan Indicators: </label>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="iconAddendum"
                                               ng-model="user.viewopts.voIconAddendum"> <span
                                        class="glyphicon glyphicon-plus" tooltip="Addendums"
                                        style="color: #333;"></span>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="iconCross"
                                               ng-model="user.viewopts.voIconCross">
                                        <span class="glyphicon glyphicon-retweet" tooltip="Cross Collateralized Loans"
                                              style="color: #333;"></span>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="iconBankruptcy"
                                               ng-model="user.viewopts.voIconBankruptcy"> <span
                                        class="glyphicon glyphicon-fire" tooltip="Bankruptcy History"
                                        style="color: #333;"></span>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="iconThirdPartyCredit"
                                               ng-model="user.viewopts.voIcon3pcredit"> <span
                                        class="glyphicon glyphicon-stats" tooltip="Third Party Credit"
                                        style="color: #333;"></span>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="iconAddedLand"
                                               ng-model="user.viewopts.voIconAddedland"> <span
                                        class="glyphicon glyphicon-flag" tooltip="Added Land"
                                        style="color: #333;"></span>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="iconDisbursements"
                                               ng-model="user.viewopts.voIconDisbursement"> <span
                                        class="glyphicon glyphicon-lock" tooltip="Controlled Disbursements"
                                        style="color: #333;"></span>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="iconAttachments"
                                               ng-model="user.viewopts.voIconAttachments"> <span
                                        class="glyphicon glyphicon-paperclip" tooltip="Attachments"
                                        style="color: #333;"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="alert alert-danger" role="alert"
                                             style="margin-bottom: 0 !important;">
                                            <p>You may only choose up to four optional fields</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="margin-top: -5px;">
                                    <td>
                                        <input type="checkbox" name="view_region"
                                               ng-model="user.viewopts.voDueDate"/>
                                        Due Date
                                    </td>
                                    <td>
                                        <input type="checkbox" name="view_commit_total"
                                               ng-model="user.viewopts.voCommitTotal"/>
                                        Commit-Total
                                    </td>
                                    <td>
                                        <input type="checkbox" name="view_acres_total"
                                               ng-model="user.viewopts.voAcresTotal"/>
                                        Acres -- Total
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="view_region"
                                               ng-model="user.viewopts.voRegion"/>
                                        Region
                                    </td>
                                    <td>
                                        <input type="checkbox" name="view_commit_arm"
                                               ng-model="user.viewopts.voCommitArm"/>
                                        Commit [ARM]
                                    </td>
                                    <td>
                                        <input type="checkbox" name="view_acres_corn"
                                               ng-model="user.viewopts.voAcresCorn"/>
                                        Acres -- Corn
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="view_season"
                                               ng-model="user.viewopts.voSeason"/>
                                        Season
                                    </td>
                                    <td>
                                        <input type="checkbox" name="view_commit_distributor"
                                               ng-model="user.viewopts.voCommitDistributor"/>
                                        Commit [Distributor]
                                    </td>
                                    <td>
                                        <input type="checkbox" name="view_acres_soybeans"
                                               ng-model="user.viewopts.voAcresSoybeans"/>
                                        Acres -- Soybeans
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="view_distributor"
                                               ng-model="user.viewopts.voDistributor"/>
                                        Distributor
                                    </td>
                                    <td>
                                        <input type="checkbox" name="view_commit_other"
                                               ng-model="user.viewopts.voCommitOther"/>
                                        Commit [3rd Party]
                                    </td>
                                    <td>
                                        <input type="checkbox" name="view_acres_beansFAC"
                                               ng-model="user.viewopts.voAcresBeansFAC"/>
                                        Acres -- Soybeans FAC
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="view_agency"
                                               ng-model="user.viewopts.voAgency"/>
                                        Agency
                                    </td>
                                    <td>
                                        <input type="checkbox" name="view_fee_percentage"
                                               ng-model="user.viewopts.voFeePercentage"/>
                                        Fee Percentage
                                    </td>
                                    <td>
                                        <input type="checkbox" name="view_acres_sorghum"
                                               ng-model="user.viewopts.voAcresSorghum"/>
                                        Acres -- Sorghum
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <input type="checkbox" name="view_fee_total"
                                               ng-model="user.viewopts.voFeeTotal"/>
                                        Fee Total
                                    </td>
                                    <td>
                                        <input type="checkbox" name="view_acres_wheat"
                                               ng-model="user.viewopts.voAcresWheat"/>
                                        Acres -- Wheat
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <input type="checkbox" name="view_rate_arm"
                                               ng-model="user.viewopts.voRateArm"/>
                                        Rate [ARM]
                                    </td>
                                    <td>
                                        <input type="checkbox" name="view_acres_cotton"
                                               ng-model="user.viewopts.voAcresCotton"/>
                                        Acres -- Cotton
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <input type="checkbox" name="view_rate_dist"
                                               ng-model="user.viewopts.voRateDist"/>
                                        Rate [Distributor]
                                    </td>
                                    <td>
                                        <input type="checkbox" name="view_acres_rice"
                                               ng-model="user.viewopts.voAcresRice"/>
                                        Acres -- Rice
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <input type="checkbox" name="view_balance_due"
                                               ng-model="user.viewopts.voBalanceDue"/>
                                        Balance Due
                                    </td>
                                    <td>
                                        <input type="checkbox" name="view_acres_peanuts"
                                               ng-model="user.viewopts.voAcresPeanuts"/>
                                        Acres -- Peanuts
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>
                                        <input type="checkbox" name="view_acres_sugar_cane"
                                               ng-model="user.viewopts.voAcresSugarcane"/>
                                        Acres -- Sugar Cane
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>
                                        <input type="checkbox" name="view_acres_other"
                                               ng-model="user.viewopts.voAcresOther"/>
                                        Acres -- Other
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--OPTIONAL FIELDS-->
                    </fieldset>
                </div>

                <!-- Filters -->
                <div class="row">
                    <fieldset class="col-md-12" style="margin-top:18px;">
                        <legend>
                            &nbsp;
                            <span class="pendicon glyphicon glyphicon-chevron-right" ng-click="togShowViewFltrs()"
                                  ng-if="!showViewFltrs"></span>
                            <span class="pendicon glyphicon glyphicon-chevron-down" ng-click="togShowViewFltrs()"
                                  ng-if="showViewFltrs"></span>
                            &nbsp;
                            FILTERS
                        </legend>
                        <div ng-if="showViewFltrs">
                            <!--FILTERS-->
                            <table class="table table-striped">
                                <tr>
                                    <td colspan="4">
                                        <label>Status:</label>
                                        <input type="checkbox" name="In-Progress"
                                               ng-model="user.viewfilters.vfStatusInProgress"> <span
                                        class="glyphicon glyphicon-wrench" tooltip="In_Progress"
                                        style="color: #000099;"></span>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="Recommended"
                                               ng-model="user.viewfilters.vfStatusRecommended"> <span
                                        class="glyphicon glyphicon-share-alt" tooltip="Recommended"></span>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="Withdrawn"
                                               ng-model="user.viewfilters.vfStatusWithdrawn"> <span
                                        class="glyphicon glyphicon-person-walking" tooltip="Withdrawn"
                                        style="color: #E0A02D;"></span>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="Approved"
                                               ng-model="user.viewfilters.vfStatusApproved"> <span
                                        class="glyphicon glyphicon-thumbs-up" tooltip="Approved"
                                        style="color: #009900;"></span>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="Denied"
                                               ng-model="user.viewfilters.vfStatusDenied">
                                        <span class="glyphicon glyphicon-thumbs-down" tooltip="Denied"
                                              style="color: #990000;"></span>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="Paid"
                                               ng-model="user.viewfilters.vfStatusPaid"> <span
                                        class="glyphicon glyphicon-ok" tooltip="Paid" style="color: #009900;"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Region:</label></td>
                                    <td>
                                        <select class="form-control" name="filterRegions"
                                                ng-model="user.viewfilters.vfRegions"
                                                ng-options="r.id as r.region for r in feeder.regions">
                                            <option value="">All</option>
                                        </select>
                                    </td>
                                    <td><label>Application Date:</label></td>
                                    <td>
                                        <input type="radio" ng-model="user.viewfilters.vfAppDate" value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" ng-model="user.viewfilters.vfAppDate" value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" ng-model="user.viewfilters.vfAppDate" value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" ng-model="user.viewfilters.vfAppDate" value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text" name="user.viewfilters.vfAppDateFilter"
                                               placeholder="Set Filter" ng-hide="user.viewfilters.vfAppDate == 'all'"
                                               style="width:100px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Location:</label>
                                    </td>
                                    <td>
                                        <select class="form-control" name="filterLocations"
                                                ng-model="user.viewfilters.vfLocations"
                                                ng-options="l.id as l.location for l in feeder.locations">
                                            <option value="">All</option>
                                        </select>
                                    </td>
                                    <td>
                                        <label>Close Date:</label>
                                    </td>
                                    <td>
                                        <input type="radio" ng-model="user.viewfilters.vfCloseDate" value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" ng-model="user.viewfilters.vfCloseDate"
                                               value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" ng-model="user.viewfilters.voCloseDate"
                                               value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" ng-model="user.viewfilters.vfCloseDate"
                                               value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text"
                                               name="user.viewfilters.vfCloseDateFilter"
                                               placeholder="Set Filter"
                                               ng-hide="user.viewfilters.vfCloseDate == 'all'"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Analyst:</label>
                                    </td>
                                    <td>
                                        <select class="form-control" name="vfAnalysts"
                                                ng-model="user.viewfilters.vfAnalysts"
                                                ng-options="u.id as u.username for u in users">
                                            <option value="">All</option>
                                        </select>
                                    </td>
                                    <td>
                                        <label>Due Date:</label>
                                    </td>
                                    <td>
                                        <input type="radio" ng-model="user.viewfilters.vfDueDate" value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" ng-model="user.viewfilters.vfDueDate" value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" ng-model="user.viewfilters.voDueDate" value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" ng-model="user.viewfilters.vfDueDate" value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text" name="user.viewfilters.vfDueDateFilter"
                                               placeholder="Set Filter" ng-hide="user.viewfilters.vfDueDate == 'all'"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Farmers:</label>
                                    </td>
                                    <td>
                                        <select class="form-control" name="vfFarmers"
                                                ng-model="user.viewfilters.vfFarmers"
                                                ng-options="f.id as f.farmer for f in farmers">
                                            <option value="">All</option>
                                        </select>
                                    </td>
                                    <td>
                                        <label>Commit - Total:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="togCommitTotal"
                                               ng-model="user.viewfilters.vfCommitTotal"
                                               value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" name="togCommitTotal"
                                               ng-model="user.viewfilters.vfCommitTotal"
                                               value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" name="vfCommitTotal"
                                               ng-model="user.viewfilters.vfCommitTotal"
                                               value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" name="vfCommitTotal"
                                               ng-model="user.viewfilters.vfCommitTotal"
                                               value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text" name="vfCommitTotalFilter"
                                               ng-model="user.viewfilters.vfCommitTotal" placeholder="Set Filter"
                                               ng-hide="user.viewfilters.vfCommitTotal == 'all'"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Crop Years:</label>
                                    </td>
                                    <td>
                                        <select class="form-control" name="vfCropYears"
                                                ng-model="user.viewfilters.vfCropYears"
                                                ng-options="y.id as y.year for y in cropYears">
                                            <option value="">All</option>
                                        </select>
                                    </td>
                                    <td>
                                        <label>Commit - ARM:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfCommitArm"
                                               ng-model="user.viewfilters.vfCommitArm"
                                               value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" name="vfCommitArm"
                                               ng-model="user.viewfilters.vfCommitArm"
                                               value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" name="vfCommitArm"
                                               ng-model="user.viewfilters.vfCommitArm"
                                               value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" name="vfCommitArm"
                                               ng-model="user.viewfilters.vfCommitArm"
                                               value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text" name="commitArm"
                                               ng-model="user.viewfilters.vfCommitArmFilter"
                                               placeholder="Set Filter"
                                               ng-hide="user.viewfilters.vfCommitArm == 'all'"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Seasons:</label>
                                    </td>
                                    <td>
                                        <select class="form-control" name="vfSeasons"
                                                ng-model="user.viewfilters.vfSeasons"
                                                ng-options="s.abr as s.season for s in feeder.seasons">
                                            <option value="">All</option>
                                        </select>
                                    </td>
                                    <td>
                                        <label>Commit - Distributor:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfCommitDist"
                                               ng-model="user.viewfilters.vfCommitDist"
                                               value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" name="vfCommitDist"
                                               ng-model="user.viewfilters.vfCommitDist"
                                               value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" name="vfCommitDist"
                                               ng-model="user.viewfilters.vfCommitDist"
                                               value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" name="vfCommitDist"
                                               ng-model="user.viewfilters.vfCommitDist"
                                               value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text" name="commitDist"
                                               ng-model="user.viewfilters.vfCommitDistFilter"
                                               placeholder="Set Filter"
                                               ng-hide="user.viewfilters.vfCommitDist == 'all'"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Loan Types:</label>
                                    </td>
                                    <td>
                                        <select class="form-control" name="vfLoanTypes"
                                                ng-model="user.viewfilters.vfLoanTypes"
                                                ng-options="l.id as l.loantype for l in feeder.loantypes">
                                            <option value="">All</option>
                                        </select>
                                    </td>
                                    <td>
                                        <label>Commit - Other:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfCommitOther"
                                               ng-model="user.viewfilters.vfCommitOther"
                                               value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" name="togCommitOther"
                                               ng-model="user.viewfilters.vfCommitOther"
                                               value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" name="togCommitOther"
                                               ng-model="user.viewfilters.vfCommitOther"
                                               value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" name="togCommitOther"
                                               ng-model="user.viewfilters.vfCommitOther"
                                               value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text" name="commitOther"
                                               ng-model="user.viewfilters.vfCommitOtherFilter"
                                               placeholder="Set Filter"
                                               ng-hide="user.viewfilters.vfCommitOther == 'all'"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Distributors:</label>
                                    </td>
                                    <td>
                                        <select class="form-control" name="vfRateDist"
                                                ng-model="user.viewfilters.vfRateDist"
                                                ng-options="d.id as d.distributor for d in feeder.distributors">
                                            <option value="">All</option>
                                        </select>
                                    </td>
                                    <td>
                                        <label>Fee:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfFee" ng-model="user.viewfilters.vfFee"
                                               value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" name="vfFee" ng-model="user.viewfilters.vfFee"
                                               value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" name="vfFee" ng-model="user.viewfilters.vfFee"
                                               value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" name="vfFee" ng-model="user.viewfilters.vfFee"
                                               value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Agencies:</label>
                                    </td>
                                    <td>
                                        <select class="form-control" name="vfAgencies"
                                                ng-model="user.view.fltr.vfAgencies"
                                                ng-options="a.id as a.name for a in feeder.agencies">
                                            <option value="">All</option>
                                        </select>
                                    </td>
                                    <td>
                                        <label>Rate - ARM:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfRateArm" ng-model="user.viewfilters.vfRateArm"
                                               value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" name="vfRateArm" ng-model="user.viewfilters.vfRateArm"
                                               value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" name="vfRateArm" ng-model="user.viewfilters.vfRateArm"
                                               value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" name="vfRateArm" ng-model="user.viewfilters.vfRateArm"
                                               value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text" name="vfRateArmFilter"
                                               ng-model="user.viewfilters.vfRateArmFilter"
                                               placeholder="Set Filter"
                                               ng-hide="user.viewfilters.vfRateArm == 'all'"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Addendums:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfAddendums"
                                               ng-model="user.viewfilters.vfAddendums"
                                               value="1"> Yes
                                        &nbsp;&nbsp;
                                        <input type="radio" name="vfAddendums"
                                               ng-model="user.viewfilters.vfAddendums"
                                               value="0"> No
                                    </td>
                                    <td>
                                        <label>Rate - Distributor:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfRateDist"
                                               ng-model="user.viewfilters.vfRateDist"
                                               value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" name="vfRateDist"
                                               ng-model="user.viewfilters.vfRateDist"
                                               value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" name="vfRateDist"
                                               ng-model="user.viewfilters.vfRateDist"
                                               value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" name="vfRateDist"
                                               ng-model="user.viewfilters.vfRateDist"
                                               value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text" name="vfRateDist"
                                               ng-model="user.viewfilters.vfRateDistFilter"
                                               placeholder="Set Filter"
                                               ng-hide="user.viewfilters.vfRateDist == 'all'"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Comments:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfComments"
                                               ng-model="user.viewfilters.vfComments"
                                               value="1"> Yes
                                        &nbsp;&nbsp;
                                        <input type="radio" name="vfComments"
                                               ng-model="user.viewfilters.vfComments"
                                               value="0"> No
                                    </td>
                                    <td>
                                        <label>Acres - Total:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfAcresTotal"
                                               ng-model="user.viewfilters.vfAcresTotal"
                                               value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresTotal"
                                               ng-model="user.viewfilters.vfAcresTotal"
                                               value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresTotal"
                                               ng-model="user.viewfilters.vfAcresTotal"
                                               value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresTotal"
                                               ng-model="user.viewfilters.vfAcresTotal"
                                               value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text" name="vfAcresTotalFilter"
                                               ng-model="user.viewfilters.vfAcresTotalFilter"
                                               placeholder="Set Filter"
                                               ng-hide="user.viewfilters.vfAcresTotal == 'all'"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Bankruptcy:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfBankruptcy"
                                               ng-model="user.viewfilters.vfBankruptcy"
                                               value="1"> Yes
                                        &nbsp;&nbsp;
                                        <input type="radio" name="vfBankruptcy"
                                               ng-model="user.viewfilters.vfBankruptcy"
                                               value="0"> No
                                    </td>
                                    <td>
                                        <label>Acres - Corn:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfAcresCorn"
                                               ng-model="user.viewfilters.vfAcresCorn"
                                               value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresCorn"
                                               ng-model="user.viewfilters.vfAcresCorn"
                                               value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresCorn"
                                               ng-model="user.viewfilters.vfAcresCorn"
                                               value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresCorn"
                                               ng-model="user.viewfilters.vfAcresCorn"
                                               value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text" name="vfAcresCorn"
                                               ng-model="user.viewfilters.vfAcresCornFilter"
                                               placeholder="Set Filter"
                                               ng-hide="user.viewfilters.vfAcresCorn == 'all'"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Third Party:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfThirdParty"
                                               ng-model="user.viewfilters.vfThirdParty"
                                               value="1"> Yes
                                        &nbsp;&nbsp;
                                        <input type="radio" name="vfThirdParty"
                                               ng-model="user.viewfilters.vfThirdParty"
                                               value="0"> No
                                    </td>
                                    <td>
                                        <label>Acres - Soybeans:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfAcresBeans"
                                               ng-model="user.viewfilters.vfAcresBeans"
                                               value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresBeans"
                                               ng-model="user.viewfilters.vfAcresBeans"
                                               value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresBeans"
                                               ng-model="user.viewfilters.vfAcresBeans"
                                               value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresBeans"
                                               ng-model="user.viewfilters.vfAcresBeans"
                                               value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text" name="vfAcresBeans"
                                               ng-model="user.viewfilters.vfAcresBeansFilter"
                                               placeholder="Set Filter"
                                               ng-hide="user.viewfilters.vfAcresBeans == 'all'"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Added Land:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfAddedLand"
                                               ng-model="user.viewfilters.vfAddedLand"
                                               value="1"> Yes
                                        &nbsp;&nbsp;
                                        <input type="radio" name="vfAddedLand"
                                               ng-model="user.viewfilters.vfAddedLand"
                                               value="0"> No
                                    </td>
                                    <td>
                                        <label>Acres - Soybeans FAC:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfAcresBeansFAC"
                                               ng-model="user.viewfilters.vfAcresBeansFAC" value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresBeansFAC"
                                               ng-model="user.viewfilters.vfAcresBeansFAC" value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresBeansFAC"
                                               ng-model="user.viewfilters.vfAcresBeansFAC" value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresBeansFAC"
                                               ng-model="user.viewfilters.vfAcresBeansFAC" value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text" name="vfAcresBeansFACFilter"
                                               ng-model="vfAcresBeansFACFilter" placeholder="Set Filter"
                                               ng-hide="user.viewfilters.vfAcresBeansFAC == 'all'"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Controlled Disb:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfDisbursements"
                                               ng-model="user.viewfilters.vfDisbursements" value="1"> Yes
                                        &nbsp;&nbsp;
                                        <input type="radio" name="vfDisbursements"
                                               ng-model="user.viewfilters.vfDisbursements" value="0"> No
                                    </td>
                                    <td>
                                        <label>Acres - Sorghum:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfAcresSorghum"
                                               ng-model="user.viewfilters.vfAcresSorghum" value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresSorghum"
                                               ng-model="user.viewfilters.vfAcresSorghum" value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresSorghum"
                                               ng-model="user.viewfilters.vfAcresSorghum" value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresSorghum"
                                               ng-model="user.viewfilters.vfAcresSorghum" value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text" name="vfAcresSorghumFilter"
                                               ng-model="vfAcresSorghumFilter" placeholder="Set Filter"
                                               ng-hide="user.viewfilters.vfAcresSorghum == 'all'"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Attachments:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfAttachments"
                                               ng-model="user.viewfilters.vfAttachments"
                                               value="1"> Yes
                                        &nbsp;&nbsp;
                                        <input type="radio" name="vfAttachments"
                                               ng-model="user.viewfilters.vfAttachments"
                                               value="0"> No
                                    </td>
                                    <td>
                                        <label>Acres - Wheat:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfAcresWheat"
                                               ng-model="user.viewfilters.vfAcresWheat"
                                               value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresWheat"
                                               ng-model="user.viewfilters.vfAcresWheat"
                                               value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresWheat"
                                               ng-model="user.viewfilters.vfAcresWheat"
                                               value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresWheat"
                                               ng-model="user.viewfilters.vfAcresWheat"
                                               value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text" name="vfAcresWheat"
                                               ng-model="user.viewfilters.vfAcresWheatFilter"
                                               placeholder="Set Filter"
                                               ng-hide="user.viewfilters.vfAcresWheat == 'all'"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Limit Close:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfLimitClose"
                                               ng-model="user.viewfilters.vfLimitClose"
                                               value="1"> Yes
                                        &nbsp;&nbsp;
                                        <input type="radio" name="vfLimitClose"
                                               ng-model="user.viewfilters.vfLimitClose"
                                               value="0"> No
                                    </td>
                                    <td>
                                        <label>Acres - Cotton:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfAcresCotton"
                                               ng-model="user.viewfilters.vfAcresCotton"
                                               value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresCotton"
                                               ng-model="user.viewfilters.vfAcresCotton"
                                               value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresCotton"
                                               ng-model="user.viewfilters.vfAcresCotton"
                                               value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresCotton"
                                               ng-model="user.viewfilters.vfAcresCotton"
                                               value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text" name="vfAcresCotton"
                                               ng-model="user.viewfilters.vfAcresCottonFilter"
                                               placeholder="Set Filter"
                                               ng-hide="user.viewfilters.vfAcresCotton == 'all'"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Limit Exceeded:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfLimitExceeded"
                                               ng-model="user.viewfilters.vfLimitExceeded" value="1"> Yes
                                        &nbsp;&nbsp;
                                        <input type="radio" name="vfLimitExceeded"
                                               ng-model="user.viewfilters.vfLimitExceeded" value="0"> No
                                    </td>
                                    <td>
                                        <label>Acres - Rice:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfAcresRice"
                                               ng-model="user.viewfilters.vfAcresRice"
                                               value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresRice"
                                               ng-model="user.viewfilters.vfAcresRice"
                                               value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresRice"
                                               ng-model="user.viewfilters.vfAcresRice"
                                               value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresRice"
                                               ng-model="user.viewfilters.vfAcresRice"
                                               value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text" name="vfAcresRice"
                                               ng-model="user.viewfilters.vfAcresRiceFilter"
                                               placeholder="Set Filter"
                                               ng-hide="user.viewfilters.vfAcresRice == 'all'"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                    <td>
                                        <label>Acres - Peanuts:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfAcresPeanuts"
                                               ng-model="user.viewfilters.vfAcresPeanuts" value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresPeanuts"
                                               ng-model="user.viewfilters.vfAcresPeanuts" value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresPeanuts"
                                               ng-model="user.viewfilters.vfAcresPeanuts" value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresPeanuts"
                                               ng-model="user.viewfilters.vfAcresPeanuts" value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text" name="vfAcresPeanuts"
                                               ng-model="user.viewfilters.vfAcresPeanutsFilter"
                                               placeholder="Set Filter"
                                               ng-hide="user.viewfilters.vfAcresPeanuts == 'all'"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                    <td><label>Acres - Sugar Cane:</label></td>
                                    <td>
                                        <input type="radio" name="vfAcresCane"
                                               ng-model="user.viewfilters.vfAcresCane"
                                               value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresCane"
                                               ng-model="user.viewfilters.vfAcresCane"
                                               value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresCane"
                                               ng-model="user.viewfilters.vfAcresCane"
                                               value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresCane"
                                               ng-model="user.viewfilters.vfAcresCane"
                                               value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text" name="vfAcresCane"
                                               ng-model="user.viewfilters.vfAcresCaneFilter"
                                               placeholder="Set Filter"
                                               ng-hide="user.viewfilters.vfAcresCane == 'all'"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                    <td>
                                        <label>Acres - Sunflowers:</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="vfAcresOther"
                                               ng-model="user.viewfilters.vfAcresOther"
                                               value="all"/>
                                        <span style="font:normal 12px sans-serif">All</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresOther"
                                               ng-model="user.viewfilters.vfAcresOther"
                                               value="equal"/>
                                        <span style="font:normal 12px sans-serif">=</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresOther"
                                               ng-model="user.viewfilters.vfAcresOther"
                                               value="before"/>
                                        <span style="font:normal 12px sans-serif"><</span>
                                        &nbsp;
                                        <input type="radio" name="vfAcresOther"
                                               ng-model="user.viewfilters.vfAcresOther"
                                               value="after"/>
                                        <span style="font:normal 12px sans-serif">> </span>
                                        <input class="form-control" type="text" name="vfAcresOtherFilter"
                                               ng-model="user.viewfilters.vfAcresOtherFilter"
                                               placeholder="Set Filter"
                                               ng-hide="user.viewfilters.vfAcresOther == 'all'"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </tab>

            <!-- OPTIMIZER -->
            <tab heading="Optimizer">

                <!-- optimizer display fields-->
                <div class="row">
                    <fieldset class="col-md-12" style="margin-top:18px;">
                        <legend>
                            Optional Fields
                        </legend>
                        <div class="row">
                            <div class="col-md-3">
                                <p><strong>Farm Details</strong></p>
                                <ul class="list-unstyled">
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.rent_per_acre_ARM"
                                               name="rent_per_acre_ARM"/>
                                        &nbsp;
                                        ARM Rent/Ac
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.rent_per_acre_dist"
                                               name="rent_per_acre_dist"/>
                                        &nbsp;
                                        Dist Rent/Ac
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.rent_per_acre_other"
                                               name="rent_per_acre_other"/>
                                        &nbsp;
                                        3P Rent/Ac
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.fsa_per_acre"
                                               name="fsa_per_acre"/>
                                        &nbsp;
                                        FSA Rent/Ac
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <p><strong>Insurance</strong></p>
                                <ul class="list-unstyled">
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.ins_share"
                                               name="ins_share"/>
                                        &nbsp;
                                        Ins Share
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.ins_price"
                                               name="ins_price"/>
                                        &nbsp;
                                        Ins Price
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.ins_level"
                                               name="ins_level"/>
                                        &nbsp;
                                        Ins Level
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.ins_guarantee"
                                               name="ins_guarantee"/>
                                        &nbsp;
                                        Ins Guarantee
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.ins_premium"
                                               name="ins_premium"/>
                                        &nbsp;
                                        Ins Premium
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.ins_value"
                                               name="ins_value"/>
                                        &nbsp;
                                        Ins Value
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.ins_type"
                                               name="ins_type"/>
                                        &nbsp;
                                        Ins Type
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.sco_max" name="sco_max"/>
                                        &nbsp;
                                        SCO Max
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <p><strong>Cash Flow</strong></p>
                                <ul class="list-unstyled">
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.prod_yield"
                                               name="prod_yield"/>
                                        &nbsp;
                                        Prod Yield
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.prod_share"
                                               name="prod_share"/>
                                        &nbsp;
                                        Prod Share
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.prod_price"
                                               name="prod_price"/>
                                        &nbsp;
                                        Prod Price
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.var_harvest"
                                               name="var_harvest"/>
                                        &nbsp;
                                        Var Harvest
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.rebate" name="rebate"/>
                                        &nbsp;
                                        Rebate
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.prod_rev"
                                               name="prod_rev"/>
                                        &nbsp;
                                        Prod Rev
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.prod_rev_adj"
                                               name="prod_rev_adj"/>
                                        &nbsp;
                                        Prod Rev Adj
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.budget_ARM"
                                               name="budget_ARM"/>
                                        &nbsp;
                                        ARM Budget
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.budget_dist"
                                               name="budget_dist"/>
                                        &nbsp;
                                        Dist Budget
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.budget_other"
                                               name="budget_other"/>
                                        &nbsp;
                                        3P Budget
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.fee_ARM" name="fee_ARM"/>
                                        &nbsp;
                                        ARM Fee
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.commit_ARM"
                                               name="commit_ARM"/>
                                        &nbsp;
                                        ARM Commit
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.commit_dist"
                                               name="commit_dist"/>
                                        &nbsp;
                                        Dist Commit
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.interest_ARM"
                                               name="interest_ARM"/>
                                        &nbsp;
                                        ARM Est Int
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.interest_dist"
                                               name="interest_dist"/>
                                        &nbsp;
                                        Dist Est Int
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.interest_other"
                                               name="interest_other"/>
                                        &nbsp;
                                        3P Est Int
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <p><strong>Risk/Margin</strong></p>
                                <ul class="list-unstyled">
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.percent_disc_crop"
                                               name="percent_disc_crop"/>
                                        &nbsp;
                                        Crop Disc
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.percent_disc_fsa"
                                               name="percent_disc_fsa"/>
                                        &nbsp;
                                        FSA Disc
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.percent_disc_cropins"
                                               name="percent_disc_cropins"/>
                                        &nbsp;
                                        Crop Ins Disc
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.percent_disc_nonrp"
                                               name="percent_disc_nonrp"/>
                                        &nbsp;
                                        Non-RP Disc
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.percent_disc_sco"
                                               name="percent_disc_sco"/>
                                        &nbsp;
                                        SCO Disc
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.disc_crop"
                                               name="disc_crop"/>
                                        &nbsp;
                                        Disc Crop
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.disc_fsa"
                                               name="disc_fsa"/>
                                        &nbsp;
                                        Disc FSA
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.disc_insovercrop"
                                               name="disc_insovercrop"/>
                                        &nbsp;
                                        Ins>Disc Crop
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.disc_ins"
                                               name="disc_ins"/>
                                        &nbsp;
                                        Disc Ins
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.disc_sco"
                                               name="disc_sco"/>
                                        &nbsp;
                                        Disc SCO
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="user.optimopts.disc_collateral"
                                               name="disc_collateral"/>
                                        &nbsp;
                                        Disc Collateral
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </tab>

            <!-- COMMUNICATION -->
            <tab heading="Communications">
                <!--Comms Pref-->
                <div class="row">
                    <fieldset id="userInfo" class="col-md-12" style="margin-top:18px;">
                        <legend>
                            Communications
                        </legend>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped">
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="comms_email"
                                                   ng-model="user.comms_email"/>&nbsp;
                                            Email
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" name="email"
                                                   ng-model="user.email"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="comms_sms" ng-model="user.comms_sms"/>&nbsp;
                                            Text Message
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" ng-model="user.phone"
                                                   ui-mask="(999) 999.9999"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="comms_outlook"
                                                   ng-model="user.comms_outlook"/>&nbsp;
                                            Outlook Notification (via Email)
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" name="email"
                                                   ng-model="user.outlook"/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <input type="checkbox" name="comms_online"
                                                   ng-model="user.comms_online"/>&nbsp;
                                            Online Notification Badge
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <br/><br/>
                <!--
                <ul class="list logList">
                    <li ng-repeat="entry in sortingLog track by $index" class="logItem">
                        {{entry}}
                    </li>
                </ul>
                -->

                <!--USER INFO-->
            </tab>

        </tabset>
    </div>

    <!--<pre>{{user.viewopts | json}}</pre>-->
    <br><br><br><br>
</div>