<div class="header nav_banner" style="z-index:3;">
    <span class="navbar">
        <a ui-sref='arm.home'>
            Loan Listing
        </a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a ui-sref="arm.loan_management">
            Loan Management
        </a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="dropdown" dropdown on-toggle="toggled(open)">
            <a href class="dropdown-toggle" dropdown-toggle>
                New Loan Application <span class="menuglyphs glyphicons glyphicons-chevron-down"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="l in feeder.loantypes">
                    <a ng-click="newLoan(l.id, feeder.loantypes)">
                        {{l.loantype}}
                    </a>
                </li>
            </ul>
        </span>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="dropdown" dropdown on-toggle="toggled(open)">
            <a href class="dropdown-toggle" dropdown-toggle>Reports <span class="menuglyphs glyphicons glyphicons-chevron-down"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ui-sref="arm.reports.actdet">Activity Detail</a>
                </li>
                <li>
                    <a ui-sref="arm.reports.lnman">Loan Management</a>
                </li>
                <li>
                    <a ui-sref="arm.reports.accrec">Account Reconciliation</a>
                </li>
                <li>
                    <a ui-sref="arm.reports.cashflow">Cash Flow & Exposure</a>
                </li>
                <li>
                    <a ui-sref="arm.reports.cusbud">Customer Budget</a>
                </li>
                <li>
                    <a ui-sref="arm.reports.actsum">Activity Summary</a>
                </li>
                <li>
                    <a ui-sref="arm.reports.fmrhis">Farmer History</a>
                </li>
                <li>
                    <a ui-sref="arm.reports.crops">Crop Mix</a>
                </li>
                <li>
                    <a ui-sref="arm.reports.comapp">Committee Approval</a>
                </li>
                <li>
                    <a ui-sref="arm.reports.comcom">Committee Comment</a>
                </li>
                <li>
                    <a ui-sref="arm.reports.reqrpt">Required</a>
                </li>
                <li>
                    <a ui-sref="arm.reports.usradt">Audit User</a>
                </li>
            </ul>
        </span>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="dropdown" dropdown on-toggle="toggled(open)">
            <a href class="dropdown-toggle" dropdown-toggle>Library <span class="menuglyphs glyphicons glyphicons-chevron-down"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ui-sref="arm.library.classroom">Classroom</a>
                </li>
                <li>
                    <a ui-sref="arm.library.resources">Employee Resources</a>
                </li>
                <li>
                    <a  ui-sref="arm.library.legaldocs">Legal Documents</a>
                </li>
                <li>
                    <a  ui-sref="arm.library.loanproducts">Loan Products</a>
                </li>
                <li>
                    <a  ui-sref="arm.library.polsprocs">Policies &amp; Procedures</a>
                </li>
                <li>
                    <a  ui-sref="arm.library.matrix">Responsibility Matrix</a>
                </li>
                <li>
                    <a  ui-sref="arm.library.guide">User Guide</a>
                </li>
            </ul>
        </span>
        <span ng-show="user.is_admin">
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <span class="dropdown" dropdown on-toggle="toggled(open)">
                <a href class="dropdown-toggle" dropdown-toggle>Admin <span class="menuglyphs glyphicons glyphicons-chevron-down"></span></a>
               <ul class="dropdown-menu" role="menu">
                   <li class="dropdown-submenu">
                       <a ui-sref-active="active">Feeders</a>
                       <ul class="dropdown-menu">
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.agents">
                                   Agents &amp; Agencies
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.crops">
                                   Crops
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.distributors">
                                   Distributors
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.entitytypes">
                                   Entity Types
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.instypes">
                                   Insurance
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.loantypes">
                                   Loan Types
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.locations">
                                   Locations
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.measures">
                                   Measures
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.regions">
                                   Regions
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.roles">
                                   Roles
                               </a>
                           </li>
                       </ul>
                   </li>
                   <li class="dropdown-submenu">
                       <a ui-sref-active="active">Library</a>
                       <ul class="dropdown-menu">
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.applications">
                                   Applications
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.classroom">
                                   Classroom
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.employees">
                                   Employee
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.legal">
                                   Legal
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.policies">
                                   Policies
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.products">
                                   Products
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.matrix">
                                   Resp Matrix
                               </a>
                           </li>
                       </ul>
                   </li>
                   <li class="dropdown-submenu">
                       <a ui-sref-active="active">Loans</a>
                       <ul class="dropdown-menu">
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.budgets">
                                   Budgets
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.closing">
                                   Closing
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.committee">
                                   Committee
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.data">
                                   Base Prices
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.globals">
                                   Globals
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.grade">
                                   Grade
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.insurance">
                                   Insurance
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.prerequisites">
                                   Prerequisites
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.conversions">
                                   UoM Conversions
                               </a>
                           </li>
                       </ul>
                   </li>
                   <li>
                       <a ui-sref-active="active" ui-sref="arm.admin.reports">
                           Reports
                       </a>
                   </li>
                   <li class="dropdown-submenu">
                       <a ui-sref-active="active">System</a>
                       <ul class="dropdown-menu">
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.archive">
                                   Archive Loans
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.qbsync">
                                   Quick Books
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.reqins">
                                   Req Inspects
                               </a>
                           </li><li>
                               <a ui-sref-active="active" ui-sref="arm.admin.reqrec">
                                   Req Reconciles
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.users">
                                   User Access
                               </a>
                           </li>
                       </ul>
                   </li>
                   <li class="dropdown-submenu">
                       <a ui-sref-active="active">Users</a>
                       <ul class="dropdown-menu">
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.applicants">
                                   Applicants
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.farmers">
                                   Farmers
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="arm.admin.staff">
                                   Staff
                               </a>
                           </li>
                       </ul>
                   </li>
               </ul>
            </span>
        </span>
    </span>
    <span class="search_box" style="display:none;"></span>
</div> 