<div class="row">
    <form editable-form name="editableForm" onaftersave="saveTerms()">
        <table class="table table-striped rowed" style="width:70%;">
            <!-- DUE DATE-->
            <tr ng-dblclick="editableForm.$show()">
                <td style="width:22%;">Loan Due Date</td>
                <td class="text-right cblue">
                    <a href="#" editable-bsdate="loan.due_date" e-datepicker-popup="dd-MMMM-yyyy">
                        {{loan.due_date|date:'MM/dd/yyyy'}}
                    </a>
                </td>
                <td>&nbsp;</td>
            </tr>

            <!-- ORIGINATION FEE-->
            <tr ng-dblclick="editableForm.$show()">
                <td style="width:22%;">Loan Origination Fee</td>
                <td class="text-right" style="width:10%;">
                    <a href="#" editable-text="loan.fins.fee_processing">
                        {{loan.fins.fee_processing|flexPercent:1}}
                    </a>
                </td>
                <td class="text-right" style="width:8%;">
                            <span ng-if="loan.fins.fee_onTotal">
                              {{loan.fins.proc_fee | flexCurrency:0}}
                            </span>
                            <span ng-if="!loan.fins.fee_onTotal">
                              {{loan.fins.proc_fee_arm_only | flexCurrency:0}}
                            </span>
                </td>
            </tr>

            <!-- SVC FEE-->
            <tr ng-dblclick="editableForm.$show()">
                <td>Loan Service Fee</td>
                <td class="text-right">
                    <a href="#" editable-text="loan.fins.fee_service">
                        {{loan.fins.fee_service|flexPercent:1}}
                    </a>
                </td>
                <td class="text-right">
                            <span ng-if="loan.fins.fee_service_onTotal">
                              {{loan.fins.srvc_fee|flexCurrency:0}}
                            </span>
                            <span ng-if="!loan.fins.fee_service_onTotal">
                              {{loan.fins.srvc_fee_arm_only | flexCurrency:0}}
                            </span>
                </td>
            </tr>

            <!-- ARM INTEREST-->
            <tr ng-dblclick="editableForm.$show()">
                <td>ARM Interest Rate</td>
                <td class="text-right">
                    <a href="#" editable-text="loan.fins.int_percent_arm">
                        {{loan.fins.int_percent_arm|flexPercent:1}}
                    </a>
                </td>
                <td class="text-right">
                    {{loan.fins.int_arm|flexCurrency:0}}*
                </td>
            </tr>

            <!-- DIST INTEREST (only AGI)-->
            <tr ng-dblclick="editableForm.$show()"
                ng-if="loan.has_distributor">
                <td>Distributor Interest Rate</td>
                <td class="text-right">
                    <a href="#" editable-text="loan.fins.int_percent_dist">
                        {{loan.fins.int_percent_dist|flexPercent:1}}
                    </a>
                </td>
                <td class="text-right">
                    {{loan.fins.int_dist|flexCurrency:0}}*
                </td>
            </tr>

            <tr ng-show="editableForm.$visible">
                <td colspan="3">
                    <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                        Save
                    </button>
                    <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                        Cancel
                    </button>
                </td>
            </tr>
        </table>
    </form>
    <p style="margin-top: -18px;">
        <span class="small_txt">* Interest amounts are best estimates</span>
        <br>
                <span class="small_txt" ng-if="loan.loan_type_id === 2">
                    <span ng-if="loan.loan_type_id === 2">
                        <input type="checkbox" ng-model="loan.financials.dist_buyDown"/>
                    </span>
                    &nbsp;Distributor Buy Down
                </span>
    </p>
</div>
<div class="row" ng-if="loan.financials.dist_buyDown">
    <form editable-form name="editableForm2" onaftersave="saveTerms()">
        <table class="table table-striped rowed" style="width:70%;">
            <!-- Svc Buy Down (not greater than Loan Service Fee)-->
            <tr ng-dblclick="editableForm.$show()">
                <td style="width:22%;">Service Fee Buy Down</td>
                <td class="text-right cblue">
                    <a href="#" editable-bsdate="loan.due_date" e-datepicker-popup="dd-MMMM-yyyy">
                        {{loan.due_date|date:'MM/dd/yyyy'}}
                    </a>
                </td>
                <td>&nbsp;</td>
            </tr>

            <!-- Int Rate Buy Down (not greater than ARM Int Rate)-->
            <tr ng-dblclick="editableForm.$show()">
                <td style="width:22%;">Interest Rate Buy Down</td>
                <td class="text-right" style="width:10%;">
                    <a href="#" editable-text="loan.fins.fee_processing">
                        {{loan.fins.fee_processing|flexPercent:1}}
                    </a>
                </td>
                <td class="text-right" style="width:8%;">
                            <span ng-if="loan.fins.fee_onTotal">
                              {{loan.fins.proc_fee | flexCurrency:0}}
                            </span>
                            <span ng-if="!loan.fins.fee_onTotal">
                              {{loan.fins.proc_fee_arm_only | flexCurrency:0}}
                            </span>
                </td>
            </tr>

            <!-- SRV FEE To Distributor-->
            <tr ng-dblclick="editableForm.$show()">
                <td>Service Fee to Distributor</td>
                <td class="text-right">
                    <a href="#" editable-text="loan.fins.fee_service">
                        {{loan.fins.fee_service|flexPercent:1}}
                    </a>
                </td>
                <td class="text-right">
                            <span ng-if="loan.fins.fee_service_onTotal">
                              {{loan.fins.srvc_fee|flexCurrency:0}}
                            </span>
                            <span ng-if="!loan.fins.fee_service_onTotal">
                              {{loan.fins.srvc_fee_arm_only | flexCurrency:0}}
                            </span>
                </td>
            </tr>

            <!-- SVC FEE To Borrower-->
            <tr ng-dblclick="editableForm.$show()">
                <td>Service Fee to Borrower</td>
                <td class="text-right">
                    <a href="#" editable-text="loan.fins.int_percent_arm">
                        {{loan.fins.int_percent_arm|flexPercent:1}}
                    </a>
                </td>
                <td class="text-right">
                    {{loan.fins.int_arm|flexCurrency:0}}*
                </td>
            </tr>

            <tr ng-show="editableForm.$visible">
                <td colspan="3">
                    <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                        Save
                    </button>
                    <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                        Cancel
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>