<style>
    .editable-click, a.editable-click {
        color: #000099 !important;
        border: none !important;
    }
</style>
<div class="row">
    <div class="col-md-12 text-right">
        <button style="margin-right:10px;" class="btn btn-arm" ng-click="updateTerms()"><span class="glyphicons glyphicons-log-book"></span>&nbsp;UPDATE</button>
    </div>
</div>
<br>
<fieldset>
    <legend>Terms</legend>
    <div ng-switch="loan.loan_type_id">
        <div class="container-fluid" ng-switch-when="2">
            <div ng-include="'./_modules/Loans/terms/_terms.agi.html'"></div>
        </div>
        <div class="container-fluid" ng-switch-when="6">
            <div ng-include="'./_modules/Loans/terms/_terms.vst.html'"></div>
        </div>
        <div class="container-fluid" ng-switch-default>
            <div ng-include="'./_modules/Loans/terms/_terms.def.html'"></div>
        </div>
    </div>
</fieldset>