<style>
    .rqdoc li{
        line-height: 2.4em;
    }
    /*.panel-default>.panel-heading{
        color: white;
        background-color: #006837;
        border-color: #333333;
    }*/
</style>
<fieldset>
    <legend>Closing</legend>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-lg-offset-1">
                <div class="row">
                    <accordion close-others="oneAtATime">
                        <accordion-group
                            is-open="status.isFirstOpen"
                            is-disabled="status.isFirstDisabled">
                            <accordion-heading>
                                Collateral Condition(s)
                                <span class="pull-right badge">{{missingConditions.length}}</span>
                            </accordion-heading>
                            <ul class="list-unstyled" style="margin-left:20px;" ng-repeat="c in missingConditions">
                                <li>{{c.condition}}</li>
                            </ul>
                        </accordion-group>

                        <accordion-group>
                            <accordion-heading>
                                Prerequisite Documents
                            <span class="pull-right badge">
                                {{docs.length - missingDocs.length}} of {{docs.length}}
                            </span>
                            </accordion-heading>
                            <ul class="rqdoc list-unstyled" style="margin-left:20px;">
                                <li ng-repeat="d in docs">
                                    <input type="checkbox" ng-model="d.received"/>&nbsp;{{d.document}}
                                </li>
                            </ul>
                            <p ng-if="loan.has_addendum">With my initials, I certify that only the above documents are required to process this addendum&nbsp;<input type="text" style="width:75px;"/></p>
                        </accordion-group>
                        <accordion-group>
                            <accordion-heading>
                                Closing Documents
                            </accordion-heading>
                            <ul class="rqdoc list-unstyled" style="margin-left:20px;">
                                <li><input type="checkbox"/>&nbsp;Promissory Note</li>
                                <li><input type="checkbox"/>&nbsp;Agriculture Security Agreement</li>
                                <li><input type="checkbox"/>&nbsp;UCC Security Agreement</li>
                                <li><input type="checkbox"/>&nbsp;Assignment of Indemnity of Crop Insurance</li>
                                <li><input type="checkbox"/>&nbsp;Assignment of FSA Payment</li>
                                <li><input type="checkbox"/>&nbsp;Bo Gwin Guarantor Agreement</li>
                                <li><input type="checkbox" checked="checked"/>&nbsp;Sharon Gwin Guarantor Agreement</li>
                                <li><input type="checkbox"/>&nbsp;Cross Collateral Documents</li>
                                <li><input type="checkbox"/>&nbsp;ARM Fees Invoice</li>
                                <li><input type="checkbox" ng-if="loan.has_distributor"/>&nbsp;Distributor Documents</li>

                            </ul>
                        </accordion-group>
                    </accordion>
                </div>

                <div class="row"></div>

                <div class="row">
                    <div class="col-md-12 text-right">
                        <button style="margin-right:10px;"
                                class="btn btn-primary" ng-disabled="!canClose">
                            CLOSE
                        </button>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</fieldset>